In [1]:
import pandas as pd
import numpy as np
import gensim as gs

In [2]:
dcal = pd.read_csv("cleansed_dcal_data.csv")
dcal.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi. Most disorganized...,Solo Leisure,Economy Class,May 2018,no
1,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,Doha to Kochi. The check in staff were unprof...,Solo Leisure,Economy Class,May 2018,no
2,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"Bhubaneshwar to Mumbai. IndiGo, being a low-c...",Solo Leisure,Economy Class,January 2018,yes
3,3,http://www.airlinequality.com/airline-reviews/...,10,"""happy with this sweet gestue""",NaN,Kiranraj Nayak,India,14th May 2018,Trip Verified,indigo-airlines,Me and my wife were travelling to Bangalore f...,Family Leisure,Economy Class,March 2018,yes
4,4,http://www.airlinequality.com/airline-reviews/...,10,"""such caring staff""",NaN,Dr Bhawna Johri,India,12th May 2018,Trip Verified,indigo-airlines,Flew Coimbatore to Delhi. First of all thank ...,Family Leisure,Economy Class,April 2018,no

In [3]:
indigo_neg = dcal[(dcal["Airline_Name"] == "indigo-airlines") & (dcal["Recommended"] == "no")]
indigo_pos = dcal[(dcal["Airline_Name"] == "indigo-airlines") & (dcal["Recommended"] == "yes")]

spicejet_neg = dcal[(dcal["Airline_Name"] == "spicejet") & (dcal["Recommended"] == "no")]
spicejet_pos = dcal[(dcal["Airline_Name"] == "spicejet") & (dcal["Recommended"] == "yes")]

airasia_neg = dcal[(dcal["Airline_Name"] == "airasia") & (dcal["Recommended"] == "no")]
airasia_pos = dcal[(dcal["Airline_Name"] == "airasia") & (dcal["Recommended"] == "yes")]

easyjet_neg = dcal[(dcal["Airline_Name"] == "easyjet") & (dcal["Recommended"] == "no")]
easyjet_pos = dcal[(dcal["Airline_Name"] == "easyjet") & (dcal["Recommended"] == "yes")]

ryanair_neg = dcal[(dcal["Airline_Name"] == "ryanair") & (dcal["Recommended"] == "no")]
ryanair_pos = dcal[(dcal["Airline_Name"] == "ryanair") & (dcal["Recommended"] == "yes")]

southwest_neg = dcal[(dcal["Airline_Name"] == "southwest-airlines") & (dcal["Recommended"] == "no")]
southwest_pos = dcal[(dcal["Airline_Name"] == "southwest-airlines") & (dcal["Recommended"] == "yes")]

In [4]:
import spacy

In [5]:
indigo_neg.index

Int64Index([  0,   1,   4,   5,   7,   8,   9,  10,  11,  12,  20,  23,  24,
             25,  27,  29,  31,  32,  35,  36,  38,  40,  42,  45,  46,  47,
             50,  51,  53,  55,  60,  71,  72,  78,  81,  84,  95, 103, 104,
            105, 110, 120, 122, 133, 134, 137, 140, 175, 177, 179, 183],
           dtype='int64')

In [6]:
df = indigo_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
indigo_neg_sen = df
indigo_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi,Solo Leisure,Economy Class,May 2018,no
1,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Most disorganized and inefficient airline I h...,Solo Leisure,Economy Class,May 2018,no
2,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,"Multiple delays, standing in line for over 8+...",Solo Leisure,Economy Class,May 2018,no
3,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Do not fly with this airline,Solo Leisure,Economy Class,May 2018,no
4,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,,Solo Leisure,Economy Class,May 2018,no

In [7]:
df = indigo_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
indigo_pos_sen = df
indigo_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Bhubaneshwar to Mumbai,Solo Leisure,Economy Class,January 2018,yes
1,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"IndiGo, being a low-cost no-frills airline is...",Solo Leisure,Economy Class,January 2018,yes
2,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Although their in-flight menu is bit expensiv...,Solo Leisure,Economy Class,January 2018,yes
3,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"From ground handling to the crews' services, ...",Solo Leisure,Economy Class,January 2018,yes
4,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,The students fare scheme is a boon indeed,Solo Leisure,Economy Class,January 2018,yes

In [8]:
df = spicejet_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
spicejet_neg_sen = df
spicejet_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,Jaipur to Hyderabad,Couple Leisure,Economy Class,June 2018,no
1,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,"Too bad experience, as my schedule is ruined",Couple Leisure,Economy Class,June 2018,no
2,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,My flight was on 9,Couple Leisure,Economy Class,June 2018,no
3,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,"15 pm on 8th june, but in evening 4pm I receiv...",Couple Leisure,Economy Class,June 2018,no
4,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,Then about 5pm I received another notificatio...,Couple Leisure,Economy Class,June 2018,no

In [9]:
df = spicejet_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
spicejet_pos_sen = df
spicejet_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,Pune to Dubai,Couple Leisure,Economy Class,April 2018,yes
1,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,Departure and arrival on time,Couple Leisure,Economy Class,April 2018,yes
2,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,Checkin at Pune airport was quick,Couple Leisure,Economy Class,April 2018,yes
3,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,New aircraft and clean interior and toilets,Couple Leisure,Economy Class,April 2018,yes
4,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,I paid Rs 300 for chicken meal and was good,Couple Leisure,Economy Class,April 2018,yes

In [10]:
df = airasia_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
airasia_neg_sen = df
airasia_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,Hong Kong to Phuket,Family Leisure,Economy Class,February 2018,no
1,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I booked the premium flex ticket to get good ...,Family Leisure,Economy Class,February 2018,no
2,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I was advised that this type of ticket allowe...,Family Leisure,Economy Class,February 2018,no
3,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I needed to change my flight date more than a...,Family Leisure,Economy Class,February 2018,no
4,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I tried for days to access my booking on Aira...,Family Leisure,Economy Class,February 2018,no

In [11]:
df = airasia_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
airasia_pos_sen = df
airasia_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,My flight with AirAsia was from Singapore to ...,Family Leisure,Economy Class,May 2018,yes
1,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,Boarding was slow but we reached Penang befor...,Family Leisure,Economy Class,May 2018,yes
2,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,Cabin crew were friendly and were eager in he...,Family Leisure,Economy Class,May 2018,yes
3,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,Seat was okay,Family Leisure,Economy Class,May 2018,yes
4,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,"Overall, the flight with AirAsia was a good one",Family Leisure,Economy Class,May 2018,yes

In [12]:
df = easyjet_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
easyjet_neg_sen = df
easyjet_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,Gibraltar to Manchester flight cancelled on 2...,Family Leisure,Economy Class,April 2018,no
1,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,"We were a party of 9 (myself, my partner, 3 s...",Family Leisure,Economy Class,April 2018,no
2,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,No assistance from easyJet ground crew in fin...,Family Leisure,Economy Class,April 2018,no
3,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,Managed to get a flight from Malaga to Doncas...,Family Leisure,Economy Class,April 2018,no
4,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,This really was the very best we could get,Family Leisure,Economy Class,April 2018,no

In [13]:
df = easyjet_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
easyjet_pos_sen = df
easyjet_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,21,Couple Leisure,Economy Class,June 2018,yes
1,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,55 flight from Paris to Luton,Couple Leisure,Economy Class,June 2018,yes
2,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,Flight delayed as staff unable to disembark t...,Couple Leisure,Economy Class,June 2018,yes
3,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,After 45 minutes one wheelchair was located a...,Couple Leisure,Economy Class,June 2018,yes
4,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,My flight left one hour later than scheduled ...,Couple Leisure,Economy Class,June 2018,yes

In [14]:
df = ryanair_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
ryanair_neg_sen = df
ryanair_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,Madrid to Sofia,Couple Leisure,Economy Class,June 2018,no
1,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,The most unhelpful customer service ever! Wha...,Couple Leisure,Economy Class,June 2018,no
2,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,"If you can, save yourself the headache and ch...",Couple Leisure,Economy Class,June 2018,no
3,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,Talking to Ryanair's support staff was like t...,Couple Leisure,Economy Class,June 2018,no
4,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,They are trained to copy and paste generic re...,Couple Leisure,Economy Class,June 2018,no

In [15]:
df = ryanair_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
ryanair_pos_sen = df
ryanair_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,Alicante to East Midlands,Couple Leisure,Economy Class,June 2018,yes
1,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,Ryanair is a budget airline that i use on a r...,Couple Leisure,Economy Class,June 2018,yes
2,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,I choose them because of price only and if yo...,Couple Leisure,Economy Class,June 2018,yes
3,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,,Couple Leisure,Economy Class,June 2018,yes
4,366,http://www.airlinequality.com/airline-reviews/...,8,"""amazing service""",NaN,Paul Dorrington,United Kingdom,15th May 2018,Trip Verified,ryanair,Krakow to Stansted,Family Leisure,Economy Class,May 2018,yes

In [16]:
df = southwest_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
southwest_neg_sen = df
southwest_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,Portland to Nashville via Baltimore,Solo Leisure,Economy Class,June 2018,no
1,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,I am disappointed in this airline and never g...,Solo Leisure,Economy Class,June 2018,no
2,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,In the past few years that Ive flown with So...,Solo Leisure,Economy Class,June 2018,no
3,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,"Today, they delayed my flight so much that I ...",Solo Leisure,Economy Class,June 2018,no
4,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,The placed me on one of the latest flights to...,Solo Leisure,Economy Class,June 2018,no

In [17]:
df = southwest_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
southwest_pos_sen = df
southwest_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,1506,http://www.airlinequality.com/airline-reviews/...,3,"""Im very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,Oakland to Orange County,Solo Leisure,Economy Class,June 2018,yes
1,1506,http://www.airlinequality.com/airline-reviews/...,3,"""Im very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,10 out of the 12 flights I had with Southwest...,Solo Leisure,Economy Class,June 2018,yes
2,1506,http://www.airlinequality.com/airline-reviews/...,3,"""Im very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,Im very disappointed since a chunk of my tim...,Solo Leisure,Economy Class,June 2018,yes
3,1506,http://www.airlinequality.com/airline-reviews/...,3,"""Im very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,"I always fly out from Oakland to either SNA, ...",Solo Leisure,Economy Class,June 2018,yes
4,1506,http://www.airlinequality.com/airline-reviews/...,3,"""Im very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,Ive been a loyal customer for 4,Solo Leisure,Economy Class,June 2018,yes

In [18]:
#nlp = spacy.load('en_core_web_lg')

In [19]:
#doc1 = nlp(indigo_neg_sen["Review_Text_Clean"][1])

In [20]:
# for token in doc1:
#     print(token.text, token.has_vector, len(token.vector))

In [21]:
from gensim.parsing.preprocessing import remove_stopwords

In [22]:
indigo_neg_sen["tokennized_review_sen"] = indigo_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_indigo_neg = gs.models.Word2Vec(indigo_neg_sen["tokennized_review_sen"].tolist(), size = 200, window = 8, min_count=1, workers = 4)
indigo_pos_sen["tokennized_review_sen"] = indigo_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_indigo_pos = gs.models.Word2Vec(indigo_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [23]:
spicejet_neg_sen["tokennized_review_sen"] = spicejet_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_spicejet_neg = gs.models.Word2Vec(spicejet_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
spicejet_pos_sen["tokennized_review_sen"] = spicejet_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_spicejet_pos = gs.models.Word2Vec(spicejet_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [24]:
easyjet_neg_sen["tokennized_review_sen"] = easyjet_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_easyjet_neg = gs.models.Word2Vec(easyjet_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
easyjet_pos_sen["tokennized_review_sen"] = easyjet_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_easyjet_pos = gs.models.Word2Vec(easyjet_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [25]:
ryanair_neg_sen["tokennized_review_sen"] = ryanair_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_ryanair_neg = gs.models.Word2Vec(ryanair_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
ryanair_pos_sen["tokennized_review_sen"] = ryanair_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_ryanair_pos = gs.models.Word2Vec(ryanair_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [26]:
airasia_neg_sen["tokennized_review_sen"] = airasia_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_airasia_neg = gs.models.Word2Vec(airasia_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
airasia_pos_sen["tokennized_review_sen"] = airasia_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_airasia_pos = gs.models.Word2Vec(airasia_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [27]:
southwest_neg_sen["tokennized_review_sen"] = southwest_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_southwest_neg = gs.models.Word2Vec(southwest_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
southwest_pos_sen["tokennized_review_sen"] = southwest_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_southwest_pos = gs.models.Word2Vec(southwest_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [28]:
print(model_ryanair_neg["cabin"])

[-0.37724262  0.11543727 -0.21847655 -0.23892803  0.50917155  0.43879682
 -0.06216132  0.20564948 -0.18619037  0.07118208 -0.17434782  0.10759772
  0.02471654 -0.33270878  0.21731368  0.30726606  0.26563844 -0.08658361
 -0.46860054  0.19273596 -0.3231465   0.02672162 -0.05237601 -0.14697136
  0.0171957   0.29861096 -0.2399813   0.04247812 -0.17372134 -0.1833856
 -0.12237289  0.30851883  0.11250005  0.18093298  0.11023413  0.15592168
 -0.1396422   0.02588303 -0.21198717 -0.5747514   0.08656216  0.15380563
  0.00860242 -0.49837467 -0.31698275 -0.19189382 -0.17955428  0.13822995
 -0.00624814 -0.5045061  -0.28220025 -0.0413021  -0.12958576  0.00350217
  0.38281724 -0.36070698 -0.14244755 -0.10378939  0.22973408 -0.8156488
 -0.07122051 -0.4584952   0.14485739 -0.03230539 -0.2207828   0.13474938
  0.07847563 -0.34603757  0.09194171 -0.0244615   0.09098507  0.11818909
  0.12302656 -0.08614845 -0.38234314 -0.30826053 -0.29602352 -0.08542729
  0.1345885   0.19290951 -0.19894876 -0.38418615 -0.06083062  0.11189283
 -0.3174097   0.24993612 -0.3555982   0.09392903 -0.26547092  0.04720711
  0.452688   -0.30247143  0.13763711  0.14435685 -0.12271944 -0.16059342
  0.6237245   0.29666334 -0.16180828 -0.08825484 -0.21750276 -0.23122196
 -0.45429116  0.14223593 -0.25359133 -0.1606274   0.24014011  0.10404643
 -0.3375225   0.25114778  0.22700848  0.3519043   0.06424703  0.20147958
 -0.3344871   0.22924082  0.26880807 -0.05799098  0.05982807  0.03749247
  0.40678588  0.18283899  0.37083647  0.0939555   0.8715627   0.31406876
 -0.24416569  0.14973532  0.2065337  -0.05047103  0.34039414 -0.3307963
 -0.09326972 -0.10089149  0.03280545  0.38818687 -0.46810028 -0.20618317
  0.18867193 -0.00889567  0.05086888  0.28766298 -0.21673428  0.03227577
  0.57596785 -0.30498573 -0.0447559  -0.12037448 -0.21719506  0.40596268
 -0.30046183  0.38768944  0.19261472 -0.09050253 -0.19096097  0.32391137
  0.38019153  0.55933106 -0.2250172  -0.10482248  0.21241741 -0.02904245
 -0.09464863  0.16333756 -0.02747088 -0.13055979  0.29335922 -0.16645291
  0.23824744 -0.08780976 -0.3255542  -0.00592846 -0.29571712  0.10702731
 -0.10688519 -0.11681019 -0.13528462  0.44084838  0.46296757  0.07123075
  0.01327175  0.17121474 -0.14952615  0.38300276  0.02134071 -0.09055524
  0.37800103 -0.1754545  -0.05209629  0.2011417  -0.155821   -0.12307177
 -0.34927154  0.33387488 -0.12329595  0.15335517 -0.1262149   0.14652409
 -0.35383758 -0.02435139]

/Users/vrathod/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """Entry point for launching an IPython kernel.

In [29]:
model_indigo_neg.wv.most_similar(positive="seat")

[('bangalore', 0.22073894739151),
 ('weight', 0.2064509391784668),
 ('away', 0.2050260603427887),
 ('arriving', 0.19236990809440613),
 ('upset', 0.18090415000915527),
 ('assist', 0.18087005615234375),
 ('male', 0.16913393139839172),
 ('in', 0.16839562356472015),
 ('rest', 0.16828030347824097),
 ('meals', 0.16770204901695251)]

In [82]:
def sen2vec(sentence, model) :
    sentence_vec = np.array(np.repeat(0.0, 200))
    for word in sentence:
        try:
            word_vec = np.array(model[word])
            sentence_vec += word_vec
        except KeyError:
            continue
    return sentence_vec / len(sentence)

In [31]:
indigo_neg_sen["avg_sen_vec"] = indigo_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_indigo_neg))
indigo_pos_sen["avg_sen_vec"] = indigo_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_indigo_pos))

spicejet_neg_sen["avg_sen_vec"] = spicejet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_spicejet_neg))
spicejet_pos_sen["avg_sen_vec"] = spicejet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_spicejet_pos))

easyjet_neg_sen["avg_sen_vec"] = easyjet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_easyjet_neg))
easyjet_pos_sen["avg_sen_vec"] = easyjet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_easyjet_pos))

airasia_neg_sen["avg_sen_vec"] = airasia_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_airasia_neg))
airasia_pos_sen["avg_sen_vec"] = airasia_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_airasia_pos))

ryanair_neg_sen["avg_sen_vec"] = ryanair_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_ryanair_neg))
ryanair_pos_sen["avg_sen_vec"] = ryanair_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_ryanair_pos))

southwest_neg_sen["avg_sen_vec"] = southwest_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_southwest_neg))
southwest_pos_sen["avg_sen_vec"] = southwest_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_southwest_pos))

/Users/vrathod/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  after removing the cwd from sys.path.

In [32]:
# model_indigo_pos.wv.most_similar(positive="expensive")
model_ryanair_neg.wv.most_similar(positive="staff")

[('flight', 0.99997478723526),
 ('passengers', 0.9999731779098511),
 ('time', 0.9999725818634033),
 ('seat', 0.9999721050262451),
 ('ryanair', 0.9999719858169556),
 ('seats', 0.9999707937240601),
 ('plane', 0.9999699592590332),
 ('people', 0.999968945980072),
 ('way', 0.999967634677887),
 ('crew', 0.999966025352478)]

In [33]:
# dcal["Review_Title"] = dcal["Review_Title"].str.slice(1,-1)
# dcal["Review_Text_Clean"] = dcal["Review_Title"].astype(str) + "." + dcal["Review_Text_Clean"].astype(str)
df_neg = dcal[dcal["Rating"]<5 ]
df_pos = dcal[dcal["Rating"]>5]
df_pos = (df_pos.set_index(df_pos.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df_pos.columns])
df_pos = df_pos[(df_pos["Review_Text_Clean"] != "") & (df_pos["Review_Text_Clean"] != " ") & (df_pos["Review_Text_Clean"] != None)]

df_neg = (df_neg.set_index(df_neg.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df_neg.columns])
df_neg = df_neg[(df_neg["Review_Text_Clean"] != "") & (df_neg["Review_Text_Clean"] != " ") & (df_neg["Review_Text_Clean"] != None)]
df_neg.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi,Solo Leisure,Economy Class,May 2018,no
1,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Most disorganized and inefficient airline I h...,Solo Leisure,Economy Class,May 2018,no
2,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,"Multiple delays, standing in line for over 8+...",Solo Leisure,Economy Class,May 2018,no
3,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Do not fly with this airline,Solo Leisure,Economy Class,May 2018,no
5,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,Doha to Kochi,Solo Leisure,Economy Class,May 2018,no

In [34]:
def remove_custom_stopwords(df_row):
    stopwords = ["this", "fly", "flying", "flew", "then", "that", "how", "said", "airport", "plane", "flight", "flights", "airline", "airlines", "we", "the", "they", "it", "ryanair", "easyjet", "southwest", "indigo", "spicejet", "airasia"]
    cleansed_sentence = []
    for word in df_row:
        if word not in stopwords:
            cleansed_sentence.append(word)
    return cleansed_sentence

In [35]:
df_neg["tokennized_review_sen"] = df_neg["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
df_neg["tokennized_review_sen"] = df_neg["tokennized_review_sen"].apply(lambda x: remove_custom_stopwords(x))
model_df_neg = gs.models.Word2Vec(df_neg["tokennized_review_sen"].tolist(), size = 200, window = 8, min_count=1, workers = 4)

df_pos["tokennized_review_sen"] = df_pos["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
df_pos["tokennized_review_sen"] = df_pos["tokennized_review_sen"].apply(lambda x: remove_custom_stopwords(x))
model_df_pos = gs.models.Word2Vec(df_pos["tokennized_review_sen"].tolist(), size = 200, window = 8, min_count=1, workers = 4)

In [36]:
model_df_neg.wv.most_similar(positive="trip")

[('day', 0.9999746084213257),
 ('days', 0.9999723434448242),
 ('home', 0.9999701380729675),
 ('on', 0.9999701380729675),
 ('my', 0.9999680519104004),
 ('new', 0.999967098236084),
 ('able', 0.9999666810035706),
 ('night', 0.9999666213989258),
 ('passenger', 0.9999661445617676),
 ('cancelled', 0.9999660849571228)]

In [37]:
model_df_pos.wv.most_similar(positive="delay")

[('arriving', 0.9999396800994873),
 ('took', 0.9999356269836426),
 ('slightly', 0.9999258518218994),
 ('boarded', 0.9999127388000488),
 ('morning', 0.9999118447303772),
 ('leaving', 0.9999075531959534),
 ('earlier', 0.9998961687088013),
 ('hour', 0.999893069267273),
 ('min', 0.9998852014541626),
 ('departing', 0.9998672008514404)]

In [38]:
# indigo_neg_sen["avg_sen_vec"] = indigo_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# indigo_pos_sen["avg_sen_vec"] = indigo_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# spicejet_neg_sen["avg_sen_vec"] = spicejet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# spicejet_pos_sen["avg_sen_vec"] = spicejet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# easyjet_neg_sen["avg_sen_vec"] = easyjet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# easyjet_pos_sen["avg_sen_vec"] = easyjet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# airasia_neg_sen["avg_sen_vec"] = airasia_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# airasia_pos_sen["avg_sen_vec"] = airasia_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# ryanair_neg_sen["avg_sen_vec"] = ryanair_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# ryanair_pos_sen["avg_sen_vec"] = ryanair_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# southwest_neg_sen["avg_sen_vec"] = southwest_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# southwest_pos_sen["avg_sen_vec"] = southwest_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

In [39]:
df_neg["avg_sen_vec"] = df_neg["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
df_pos["avg_sen_vec"] = df_pos["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

/Users/vrathod/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  after removing the cwd from sys.path.

In [40]:
df_neg.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi,Solo Leisure,Economy Class,May 2018,no,"[dehradun, pune, delhi]","[-0.11727661453187466, -0.03569880942814052, -..."
1,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Most disorganized and inefficient airline I h...,Solo Leisure,Economy Class,May 2018,no,"[most, disorganized, inefficient, travelled]","[-0.09263113560155034, -0.02858907636255026, -..."
2,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,"Multiple delays, standing in line for over 8+...",Solo Leisure,Economy Class,May 2018,no,"[multiple, delays, standing, line, hours, talk...","[-0.43726393580436707, -0.13225443085486238, -..."
3,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Do not fly with this airline,Solo Leisure,Economy Class,May 2018,no,[do],"[-0.1566890925168991, -0.048449013382196426, -..."
5,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,Doha to Kochi,Solo Leisure,Economy Class,May 2018,no,"[doha, kochi]","[-0.03295871242880821, -0.010261194256599993, ..."

In [41]:
df_pos.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec
0,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Bhubaneshwar to Mumbai,Solo Leisure,Economy Class,January 2018,yes,"[bhubaneshwar, mumbai]","[-0.06729000725317746, -0.08167636266443878, 0..."
1,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"IndiGo, being a low-cost no-frills airline is...",Solo Leisure,Economy Class,January 2018,yes,"[low, cost, no, frills, value, money]","[-0.2940685252348582, -0.37643849352995556, 0...."
2,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Although their in-flight menu is bit expensiv...,Solo Leisure,Economy Class,January 2018,yes,"[although, in, menu, bit, expensive, bring, fo...","[-0.2389417290687561, -0.28607192838733847, 0...."
3,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"From ground handling to the crews' services, ...",Solo Leisure,Economy Class,January 2018,yes,"[from, ground, handling, crews, services, exce...","[-0.2194859300340925, -0.2634575196674892, 0.1..."
4,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,The students fare scheme is a boon indeed,Solo Leisure,Economy Class,January 2018,yes,"[students, fare, scheme, boon]","[-0.07379452383611351, -0.08766914601437747, 0..."

In [42]:

df_neg = df_neg[df_neg["tokennized_review_sen"].apply(lambda x: len(x) > 3 and len(x) < 10)]

df_pos = df_pos[df_pos["tokennized_review_sen"].apply(lambda x: len(x) > 3 and len(x) < 10)]

X_neg = np.array(list(df_neg["avg_sen_vec"]))
X_pos = np.array(list(df_pos["avg_sen_vec"]))

X_neg

array([[-0.09263114, -0.02858908, -0.00288335, ...,  0.01674061,
        -0.09012825, -0.00981453],
       [-0.37185095, -0.11263055, -0.0130483 , ...,  0.06588875,
        -0.35521607, -0.04213483],
       [-0.40756825, -0.12160809, -0.0141748 , ...,  0.06956876,
        -0.38834043, -0.04442633],
       ...,
       [-0.4411566 , -0.13104787, -0.01490542, ...,  0.07456381,
        -0.41935183, -0.04545904],
       [-0.33602239, -0.10164427, -0.0127502 , ...,  0.05700826,
        -0.31778947, -0.03367105],
       [-0.35827601, -0.10727845, -0.01017286, ...,  0.06282011,
        -0.34309824, -0.03789344]])

In [43]:
from nltk.cluster import KMeansClusterer, cosine_distance

clusterer = KMeansClusterer(7, cosine_distance, 7)
clusters = clusterer.cluster(X_neg, True, trace=True)
df_neg["cluster"] = clusters
df_neg["cluster"].value_counts()

k-means trial 0
iteration
iteration
iteration
k-means trial 1
iteration
k-means trial 2
iteration
iteration
iteration
k-means trial 3
iteration
iteration
iteration
iteration
k-means trial 4
iteration
iteration
iteration
k-means trial 5
iteration
iteration
iteration
iteration
iteration
k-means trial 6
iteration
iteration
iteration

1    2638
3    1257
4     868
6     684
2     410
5     196
0       5
Name: cluster, dtype: int64

In [44]:
clusterer = KMeansClusterer(7, cosine_distance, 7)
clusters = clusterer.cluster(X_pos, True, trace=True)
df_pos["cluster"] = clusters
df_pos["cluster"].value_counts()

k-means trial 0
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 1
iteration
k-means trial 2
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 3
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 4
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 5
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 6
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration

3    2860
1    1210
5    1190
4     751
2     683
6     420
0     336
Name: cluster, dtype: int64

In [45]:
def get_word_count(cluster_num, input_df):
    cluster_x_words = []
    cluster_x_df = input_df[input_df["cluster"]==cluster_num]
    cluster_x_df["tokennized_review_sen"].apply(lambda x: cluster_x_words.extend(x))
    cluster_x_words_df = pd.DataFrame(cluster_x_words)
    cluster_x_words_df.columns = ["words"]
    print(cluster_x_words_df["words"].value_counts())

In [46]:
get_word_count(0, df_neg)

kul    8
bkk    7
sub    6
hkt    5
syd    2
cnx    1
Name: words, dtype: int64

In [47]:
get_word_count(1, df_neg)

time             239
staff            170
passengers       130
told             119
crew              93
return            88
no                84
food              82
asked             77
board             76
on                76
got               76
day               75
air               72
trip              71
when              71
my                69
booked            66
didn              65
cabin             65
people            65
problem           58
way               57
there             55
so                54
help              52
cancelled         51
times             50
gate              48
days              47
                ...
staffer            1
tikka              1
stl                1
imposition         1
benefit            1
rely               1
farmer             1
sheer              1
jersey             1
pity               1
foods              1
moreover           1
belts              1
shed               1
cafe               1
effective          1
fuerteventura      1
wrote              1
paneer             1
full               1
amazement          1
islands            1
immigration        1
chenna             1
owner              1
surely             1
oz                 1
offerings          1
truth              1
visual             1
Name: words, Length: 3755, dtype: int64

In [48]:
get_word_count(2, df_neg)

service            105
experience          96
staff               49
worst               44
rude                33
bad                 33
customer            28
flown               27
poor                27
ve                  25
budget              16
awful               16
years               16
very                15
crew                15
horrible            15
care                14
better              14
good                14
time                13
overall             12
low                 12
company             11
cost                11
cabin               11
extremely           11
friendly            10
ground              10
no                  10
far                  9
                  ...
situations           1
disinterested        1
marks                1
smell                1
kg                   1
reports              1
ons                  1
replies              1
altogether           1
summarise            1
internationally      1
order                1
pen                  1
refund               1
useless              1
appreciate           1
common               1
normally             1
example              1
concerned            1
flaky                1
issues               1
ways                 1
hidden               1
adds                 1
complain             1
august               1
attendents           1
support              1
upset                1
Name: words, Length: 1077, dtype: int64

In [49]:
get_word_count(3, df_neg)

seats           163
pay             151
seat            116
extra            98
don              81
paid             79
ticket           78
cost             72
luggage          71
money            65
people           62
like             55
sit              52
if               50
low              47
bag              46
you              44
cheap            43
tickets          36
use              36
free             35
seating          34
know             34
price            33
charge           33
so               33
family           32
way              31
didn             30
booked           30
               ...
smaller           1
ife               1
unbearable        1
creaking          1
product           1
skip              1
measly            1
strangers         1
unfortunate       1
loose             1
lifting           1
brick             1
monopoly          1
junk              1
deliberately      1
miles             1
missed            1
sporting          1
finger            1
pushed            1
ride              1
gap               1
sfo               1
prepaid           1
excuse            1
revert            1
reap              1
designed          1
forward           1
infomercial       1
Name: words, Length: 2237, dtype: int64

In [50]:
get_word_count(4, df_neg)

hours           252
delayed         224
hour            182
minutes         128
time            127
late            117
delay           116
pm               62
departure        58
later            49
arrived          49
got              46
gate             46
told             41
after            41
wait             41
waiting          40
boarding         37
cancelled        33
took             32
left             31
finally          31
am               28
half             27
on               26
my               24
mins             24
hrs              22
day              22
passengers       22
               ...
stopped           1
detroit           1
australia         1
continued         1
informned         1
vending           1
mother            1
useless           1
cheaper           1
ways              1
quick             1
insulin           1
round             1
choked            1
shop              1
turn              1
rome              1
instructions      1
flexibility       1
example           1
oh                1
kansai            1
organization      1
paying            1
snacks            1
dfs               1
other             1
fair              1
considering       1
atc               1
Name: words, Length: 1447, dtype: int64

In [51]:
get_word_count(5, df_neg)

service         178
customer        151
poor             19
worst            18
experience        9
horrible          9
awful             7
terrible          7
quality           7
help              6
rude              6
bad               6
staff             6
experienced       6
their             6
very              5
great             5
non               5
called            5
prices            5
existent          5
no                5
company           5
lack              4
care              4
appalling         4
level             4
needed            3
contact           3
refund            3
               ...
unnecessary       1
extension         1
increasingly      1
discomfort        1
schedule          1
best              1
comparable        1
compensation      1
standards         1
desk              1
sadly             1
pricing           1
virtually         1
hotel             1
arrangements      1
transparent       1
affected          1
punctual          1
although          1
nightmare         1
gets              1
murcia            1
supervisors       1
companies         1
someone           1
incompetence      1
updated           1
spoke             1
unimportant       1
employees         1
Name: words, Length: 527, dtype: int64

In [52]:
get_word_count(6, df_neg)

check             259
boarding          201
in                114
bag                88
luggage            76
online             60
checked            54
pass               41
baggage            40
told               38
time               36
staff              34
passes             34
when               32
went               31
bags               31
got                28
hand               27
gate               27
pay                26
print              24
board              23
queue              23
line               22
asked              22
priority           21
arrived            21
early              21
people             21
charged            20
                 ...
needing             1
smile               1
contemplated        1
incoming            1
instructions        1
moving              1
yelling             1
article             1
honor               1
listening           1
rebooking           1
an                  1
oversize            1
rang                1
aboard              1
ladies              1
mastered            1
facing              1
removed             1
wroclaw             1
announced           1
saved               1
consideration       1
bumped              1
type                1
transfers           1
hundreds            1
responsibility      1
ramp                1
cad                 1
Name: words, Length: 1432, dtype: int64

In [53]:
# get_word_count(7, df_neg)

In [54]:
# get_word_count(8, df_neg)

In [55]:
get_word_count(0, df_pos)

crew            269
cabin           203
friendly        180
staff            67
helpful          63
professional     57
efficient        56
clean            49
aircraft         27
polite           26
good             24
pleasant         21
ground           19
service          16
time             15
welcoming        14
smiling          13
courteous        13
attentive        12
cheerful         11
board            10
extremely         9
excellent         8
comfortable       7
new               7
all               6
job               6
fantastic         6
nice              5
modern            5
               ...
members           1
organised         1
seen              1
way               1
stress            1
condition         1
believe           1
seamless          1
positive          1
taa               1
attention         1
scratchcard       1
problems          1
handle            1
remained          1
showed            1
addition          1
earlier           1
customer          1
even              1
courteus          1
delayed           1
punctual          1
abrupt            1
stop              1
enjoyable         1
bags              1
personable        1
personality       1
suggest           1
Name: words, Length: 451, dtype: int64

In [56]:
get_word_count(1, df_pos)

good           290
service        230
experience     114
seats          106
great          101
comfortable     99
value           96
food            93
staff           83
money           80
new             77
overall         77
excellent       75
aircraft        71
nice            62
customer        58
pleasant        57
price           45
clean           43
all             40
board           38
time            37
better          35
cabin           33
efficient       30
air             29
attendants      29
onboard         29
short           28
drinks          27
              ...
tablet           1
lccs             1
calmed           1
dissimilar       1
belt             1
impeccably       1
remember         1
airborne         1
scant            1
instead          1
roomy            1
faul             1
addition         1
bang             1
gusts            1
russia           1
safely           1
conclusion       1
stash            1
pieces           1
changi           1
idr              1
pricey           1
onward           1
sending          1
exhibit          1
glad             1
neatly           1
bratislava       1
spaces           1
Name: words, Length: 1970, dtype: int64

In [57]:
get_word_count(2, df_pos)

crew            290
staff           197
cabin           160
friendly        136
clean            94
time             80
service          74
helpful          69
aircraft         63
good             58
efficient        58
nice             46
ground           43
pleasant         42
passengers       39
professional     37
comfortable      37
new              36
seats            35
great            32
polite           31
excellent        31
boarding         26
attendants       22
courteous        19
attentive        19
way              19
food             19
check            19
on               18
               ...
language          1
age               1
anxious           1
face              1
almost            1
stop              1
observation       1
vocal             1
bristol           1
livery            1
control           1
bombay            1
uniforms          1
brilliantly       1
hotel             1
bigger            1
hugely            1
solve             1
intimidating      1
prevent           1
absolute          1
catered           1
tiredness         1
let               1
items             1
quicker           1
breeze            1
wrong             1
she               1
birthday          1
Name: words, Length: 1232, dtype: int64

In [58]:
get_word_count(3, df_pos)

seats         209
seat          189
cost          142
low           127
price          97
don            95
trip           95
short          89
food           79
leg            78
use            76
air            75
people         73
times          71
my             71
like           69
th             66
free           65
years          64
way            63
pay            62
good           61
board          61
legroom        60
room           60
booked         59
experience     59
flown          59
better         59
asia           57
             ...
compagnia       1
royalty         1
beneficial      1
mess            1
posts           1
creating        1
patna           1
door            1
admittedly      1
performing      1
interact        1
bergerac        1
aviation        1
stands          1
melted          1
guide           1
protocol        1
fleet           1
motion          1
leaking         1
trained         1
recovering      1
depart          1
csx             1
weekday         1
reasoning       1
dream           1
avail           1
freshly         1
nag             1
Name: words, Length: 3781, dtype: int64

In [59]:
get_word_count(4, df_pos)

boarding      245
check         215
in            137
luggage       112
baggage        70
bag            67
bags           65
checked        65
online         59
hand           55
priority       52
queue          41
free           41
seat           38
drop           34
process        32
extra          31
gate           31
got            30
easy           29
pass           26
passes         26
quick          25
booking        25
paid           24
smooth         24
went           23
carry          22
fast           22
security       22
             ...
scales          1
buf             1
instance        1
sizes           1
comparable      1
lanzarote       1
city            1
tolerable       1
paso            1
weather         1
abused          1
dusseldorf      1
overweight      1
partner         1
whilst          1
dreading        1
perk            1
attention       1
dislike         1
canceled        1
reviewed        1
date            1
optional        1
hyderabad       1
son             1
carousel        1
realized        1
enforcing       1
simply          1
minimal         1
Name: words, Length: 1445, dtype: int64

In [60]:
get_word_count(5, df_pos)

time            398
return          194
delayed          76
th               74
minutes          73
departure        69
early            66
on               62
gate             59
london           58
boarding         58
gatwick          58
delay            57
stansted         56
hour             55
took             55
kul              54
kuala            50
lumpur           50
got              49
arrived          41
late             37
hours            36
check            36
arrival          34
manchester       34
aircraft         32
way              31
first            30
left             29
               ...
alternative       1
ife               1
sandwich          1
airborne          1
hopping           1
opinion           1
idiot             1
yesterday         1
eariler           1
thunderstorm      1
cmb               1
kno               1
industry          1
intact            1
sheikh            1
kualanamu         1
hassled           1
lanzerote         1
reserved          1
artificial        1
south             1
monarch           1
suspect           1
weren             1
santorini         1
tunetalk          1
crackers          1
wn                1
cost              1
problematic       1
Name: words, Length: 1994, dtype: int64

In [61]:
get_word_count(6, df_pos)

time             235
arrived          177
minutes          176
early            145
late             121
landed            65
left              63
departed          62
schedule          53
mins              51
ahead             37
departure         37
arrival           35
return            34
delayed           33
both              23
scheduled         22
took              21
on                21
delay             21
boarding          18
hour              14
aircraft          12
outbound          12
slightly          11
earlier           10
morning           10
little            10
inbound            9
gatwick            9
                ...
goa                1
klia               1
swiftly            1
predicted          1
average            1
poland             1
meeting            1
ace                1
recorded           1
efficiently        1
eta                1
cockpit            1
used               1
second             1
major              1
soemarmo           1
pleasantly         1
screen             1
aug                1
macau              1
tenerife           1
experienced        1
advice             1
only               1
vehicle            1
catering           1
southend           1
english            1
approximately      1
sastranegara       1
Name: words, Length: 636, dtype: int64

In [62]:
# get_word_count(8, df_pos)

In [63]:
# get_word_count(9, df_pos)

In [64]:
df_neg[df_neg["cluster"] == 6]

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec,cluster
6,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,The check in staff were unprofessional and im...,Solo Leisure,Economy Class,May 2018,no,"[check, staff, unprofessional, impolite]","[-0.37185095017775893, -0.11263054586015642, -...",6
8,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,"I took back only one baggage to repack, leavi...",Solo Leisure,Economy Class,May 2018,no,"[took, baggage, repack, leaving, check]","[-0.40756825394928453, -0.12160809449851513, -...",6
9,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,Coming back after repacking which is a strugg...,Solo Leisure,Economy Class,May 2018,no,"[coming, repacking, struggle, check, staff, ke...","[-0.33352075395588243, -0.10012281594228828, -...",6
21,8,http://www.airlinequality.com/airline-reviews/...,2,"""Lack of flexibility""",NaN,S Richardson,United States,27th April 2018,Trip Verified,indigo-airlines,Today they made me check my carry on because ...,Business,Economy Class,April 2018,no,"[today, check, carry, kg, limit, kg]","[-0.30073777089516324, -0.08857168722897768, -...",6
38,10,http://www.airlinequality.com/airline-reviews/...,2,"""poor quality of ground staff""",NaN,Gokal Chittaranjan,Indonesia,12th April 2018,Trip Verified,indigo-airlines,The check in staff refused to check us in say...,Business,Economy Class,April 2018,no,"[check, staff, refused, check, saying, singapo...","[-0.39498416813356535, -0.1184086094477347, -0...",6
41,10,http://www.airlinequality.com/airline-reviews/...,2,"""poor quality of ground staff""",NaN,Gokal Chittaranjan,Indonesia,12th April 2018,Trip Verified,indigo-airlines,I explained that at Singapore it is possible ...,Business,Economy Class,April 2018,no,"[explained, singapore, possible, freely, trans...","[-0.18964694730109638, -0.056186429457738996, ...",6
44,10,http://www.airlinequality.com/airline-reviews/...,2,"""poor quality of ground staff""",NaN,Gokal Chittaranjan,Indonesia,12th April 2018,Trip Verified,indigo-airlines,Wereached Singapore and there is no requireme...,Business,Economy Class,April 2018,no,"[wereached, singapore, requirement, pass, immi...","[-0.17539590215310455, -0.05316193178296089, -...",6
89,26,http://www.airlinequality.com/airline-reviews/...,2,"""flight service is not good""",NaN,U Patel,India,2nd December 2017,Trip Verified,indigo-airlines,I didn't check my boarding pass properly for ...,Family Leisure,Economy Class,November 2017,yes,"[didn, check, boarding, pass, properly, specia...","[-0.4423938978995596, -0.13264630734920502, -0...",6
91,26,http://www.airlinequality.com/airline-reviews/...,2,"""flight service is not good""",NaN,U Patel,India,2nd December 2017,Trip Verified,indigo-airlines,In return journey to Hyderabad they provided ...,Family Leisure,Economy Class,November 2017,yes,"[in, return, journey, hyderabad, provided, coo...","[-0.24097142391838133, -0.07241762976627797, -...",6
112,29,http://www.airlinequality.com/airline-reviews/...,1,"""as a worst experience""",NaN,Gaurav Surwade,India,15th November 2017,Verified Review,indigo-airlines,However we were denied for boarding as we wer...,Business,Economy Class,February 2017,no,"[however, denied, boarding, mins, late, asked,...","[-0.3594857350819641, -0.10818440011805958, -0...",6
119,31,http://www.airlinequality.com/airline-reviews/...,1,"""needless 5 more hours""",NaN,S Moors,United States,18th October 2017,Verified Review,indigo-airlines,An earlier direct flight finished boarding an...,Business,Economy Class,October 2017,no,"[an, earlier, direct, finished, boarding]","[-0.24297391027212142, -0.07472407799214124, -...",6
156,40,http://www.airlinequality.com/airline-reviews/...,3,"""No through check-in""",1 reviews,S Hashavi,India,2nd August 2017,Verified Review,indigo-airlines,"No through check-in, No transfers,when both t...",Family Leisure,Economy Class,October 2016,no,"[no, check, in, no, transfers, when]","[-0.44603081171711284, -0.13322200013014177, -...",6
168,46,http://www.airlinequality.com/airline-reviews/...,4,"""comfort might be a difficulty""",NaN,V Andrews,India,21st May 2017,Verified Review,indigo-airlines,Had taken this evening flight and as we had c...,Solo Leisure,Economy Class,May 2017,no,"[had, taken, evening, checked, online, went, d...","[-0.30105468205043245, -0.08918338987444129, -...",6
181,46,http://www.airlinequality.com/airline-reviews/...,4,"""comfort might be a difficulty""",NaN,V Andrews,India,21st May 2017,Verified Review,indigo-airlines,Their in-flight magazine Hello 6E had some ar...,Solo Leisure,Economy Class,May 2017,no,"[their, in, magazine, hello, articles, large, ...","[-0.2091674603935745, -0.062056279844707914, -...",6
185,50,http://www.airlinequality.com/airline-reviews/...,2,"""not value for money""",NaN,P Kamoorta,Australia,30th January 2017,Verified Review,indigo-airlines,"Staff at airport are pretty rude, I had 1 che...",Solo Leisure,Economy Class,January 2017,no,"[staff, pretty, rude, check, in, luggage, hand...","[-0.538663987070322, -0.15910820197314024, -0....",6
186,50,http://www.airlinequality.com/airline-reviews/...,2,"""not value for money""",NaN,P Kamoorta,Australia,30th January 2017,Verified Review,indigo-airlines,My check-in luggage weight was 16,Solo Leisure,Economy Class,January 2017,no,"[my, check, in, luggage, weight]","[-0.5232469379901886, -0.1544449061155319, -0....",6
218,71,http://www.airlinequality.com/airline-reviews/...,1,"""worst experience so far""",NaN,E Malhotra,India,11th May 2016,Verified Review,indigo-airlines,"While I'm writing this, I'm waiting to make t...",Business,Economy Class,May 2016,no,"[while, writing, waiting, payment, excess, lug...","[-0.2614520521213611, -0.07650738907977939, -0...",6
260,110,http://www.airlinequality.com/airline-reviews/...,2,IndiGo customer review,NaN,Manoj Chaumal,India,24th February 2015,NaN,indigo-airlines,Check-in was smooth and my hand baggage was l...,NaN,Economy Class,NaN,no,"[check, in, smooth, hand, baggage, kgs, excess...","[-0.4039497408601973, -0.1180620299031337, -0....",6
263,110,http://www.airlinequality.com/airline-reviews/...,2,IndiGo customer review,NaN,Manoj Chaumal,India,24th February 2015,NaN,indigo-airlines,Shopping at Duty free is not considered as Ha...,NaN,Economy Class,NaN,no,"[shopping, duty, free, considered, hand, bagga...","[-0.30004723370075226, -0.08665527137262481, -...",6
265,110,http://www.airlinequality.com/airline-reviews/...,2,IndiGo customer review,NaN,Manoj Chaumal,India,24th February 2015,NaN,indigo-airlines,You would find some one waiting at the boardi...,NaN,Economy Class,NaN,no,"[you, waiting, boarding, counter, weight, mach...","[-0.38375444151461124, -0.11523317436998089, -...",6
269,110,http://www.airlinequality.com/airline-reviews/...,2,IndiGo customer review,NaN,Manoj Chaumal,India,24th February 2015,NaN,indigo-airlines,Had to go back to the currency counter to exc...,NaN,Economy Class,NaN,no,"[had, currency, counter, exchange]","[-0.17251318506896496, -0.05102423042990267, -...",6
281,120,http://www.airlinequality.com/airline-reviews/...,4,IndiGo customer review,NaN,Arup Ghosh,India,11th November 2014,NaN,indigo-airlines,They asked me to pack all the fragile items i...,NaN,Economy Class,NaN,no,"[asked, pack, fragile, items, bag, check, in]","[-0.3776554459972041, -0.11151044516425047, -0...",6
284,120,http://www.airlinequality.com/airline-reviews/...,4,IndiGo customer review,NaN,Arup Ghosh,India,11th November 2014,NaN,indigo-airlines,I checked-in the bag and nothing was damaged,NaN,Economy Class,NaN,no,"[checked, in, bag, damaged]","[-0.4473529849201441, -0.1327885198406875, -0....",6
293,122,http://www.airlinequality.com/airline-reviews/...,1,IndiGo customer review,NaN,Sriharsha Narasimhan,India,12th October 2014,NaN,indigo-airlines,However it took the airline 42 minutes to del...,NaN,Economy Class,NaN,no,"[however, took, minutes, deliver, baggage, bag...","[-0.40617095838700024, -0.12017458464418139, -...",6
316,134,http://www.airlinequality.com/airline-reviews/...,3,IndiGo customer review,NaN,R Manohar,India,11th February 2014,NaN,indigo-airlines,I wanted to have my breakfast on the flight I...,NaN,Economy Class,NaN,no,"[wanted, breakfast, waiting, purse, hand]","[-0.286230580508709, -0.08304348960518837, -0....",6
334,175,http://www.airlinequality.com/airline-reviews/...,3,IndiGo customer review,NaN,B Michl,Austria,6th August 2012,NaN,indigo-airlines,5 hours early as anticipated no check-in count...,NaN,Economy Class,NaN,no,"[hours, early, anticipated, check, in, counter...","[-0.39340694301894735, -0.11862991617194243, -...",6
340,179,http://www.airlinequality.com/airline-reviews/...,2,IndiGo customer review,NaN,Savi Mull,India,4th April 2012,NaN,indigo-airlines,Check-in staff extremely rude and unfriendly,NaN,Economy Class,NaN,no,"[check, in, staff, extremely, rude, unfriendly]","[-0.4679405565063159, -0.14042439932624498, -0...",6
372,206,http://www.airlinequality.com/airline-reviews/...,1,"""really bad service""",NaN,K Nene,India,7th June 2018,Trip Verified,spicejet,They change the departure gate 3 times after ...,Solo Leisure,Economy Class,November 2017,no,"[change, departure, gate, times, got, boarding...","[-0.5321450105735234, -0.16287538409233093, -0...",6
373,206,http://www.airlinequality.com/airline-reviews/...,1,"""really bad service""",NaN,K Nene,India,7th June 2018,Trip Verified,spicejet,Now after completing all boarding they are ch...,Solo Leisure,Economy Class,November 2017,no,"[now, completing, boarding, changing, staff]","[-0.3517960820347071, -0.10853058211505413, -0...",6
384,209,http://www.airlinequality.com/airline-reviews/...,3,"""they never came back to me""",NaN,R Sravya Lakshmi,India,27th May 2018,Trip Verified,spicejet,The crew said they'll check it out after they...,Solo Leisure,Economy Class,May 2018,no,"[crew, ll, check, cash, takes, time, came]","[-0.388432363314288, -0.11669099277683667, -0....",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12373,3243,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,T Price,Thailand,11th February 2015,NaN,airasia,Fly drive Mukdahan - KOP - DMK,NaN,NaN,NaN,no,"[drive, mukdahan, kop, dmk]","[-0.04992925585247576, -0.014753807510714978, ...",6
12434,3259,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Van Hove,United States,10th December 2014,NaN,airasia,Ticketing and luggage handling pretty typical...,NaN,Economy Class,NaN,no,"[ticketing, luggage, handling, pretty, typical...","[-0.22182029113173485, -0.06528862627844016, -...",6
12435,3259,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Van Hove,United States,10th December 2014,NaN,airasia,Each bag is weighed and there is no leeway wh...,NaN,Economy Class,NaN,no,"[each, bag, weighed, leeway, whatsoever]","[-0.19008971862494944, -0.056255634780973195, ...",6
12436,3259,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Van Hove,United States,10th December 2014,NaN,airasia,Every increment of one kilo was billed as exc...,NaN,Economy Class,NaN,no,"[every, increment, kilo, billed, excess, baggage]","[-0.1469628537694613, -0.043061201848710574, -...",6
12458,3276,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Antoine van der Wielen,Netherlands,28th October 2014,NaN,airasia,The person who checked us in acted as if he w...,NaN,Economy Class,NaN,no,"[person, checked, acted, tired]","[-0.26638766867108643, -0.07912552380003035, -...",6
12487,3283,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Erwin Leonardi,Singapore,17th September 2014,NaN,airasia,I asked the check-in counter officer to chang...,NaN,Economy Class,NaN,no,"[asked, check, in, counter, officer, change, s...","[-0.47234131236161503, -0.140977046984647, -0....",6
12551,3295,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Janet Andrews,Italy,3rd August 2014,NaN,airasia,Hours standing in a queue to check in luggage,NaN,Economy Class,NaN,no,"[hours, standing, queue, check, luggage]","[-0.4967797815799713, -0.14775560945272445, -0...",6
12563,3304,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,Chris Tan,Malaysia,5th June 2014,NaN,airasia,The waiting area and check in area is still s...,NaN,Economy Class,NaN,no,"[waiting, area, check, area, serving, earlier,...","[-0.2919100618122944, -0.08629288680718414, -0...",6
12564,3304,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,Chris Tan,Malaysia,5th June 2014,NaN,airasia,They just have 2 check in counters and 2 immi...,NaN,Economy Class,NaN,no,"[check, counters, immigration, counters, suppo...","[-0.26618524321487974, -0.08074122081909861, -...",6
12570,3310,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,Stuart Robbens,Thailand,11th May 2014,NaN,airasia,The four members of staff at boarding gate we...,NaN,Economy Class,NaN,no,"[members, staff, boarding, gate, sleeping, pla...","[-0.3312459651912962, -0.10212623900068658, -0...",6
12578,3311,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Shannon Liu,Australia,11th May 2014,NaN,airasia,There would have been no time to have the cre...,NaN,Economy Class,NaN,no,"[there, time, crew, check, departed]","[-0.5194321602582932, -0.15638043284416198, -0...",6
12600,3315,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Tyler Nusbaum,Malaysia,1st May 2014,NaN,airasia,"I booked a ""hot seat"" which should have prior...",NaN,Economy Class,NaN,no,"[booked, hot, seat, priority, boarding]","[-0.5102766931056977, -0.1537274867296219, -0....",6
12604,3315,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Tyler Nusbaum,Malaysia,1st May 2014,NaN,airasia,I had to call the flight attendant with the b...,NaN,Economy Class,NaN,no,"[attendant, button, boarding, pass, inspected,...","[-0.34397497507078306, -0.10472190333530307, -...",6
12625,3323,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Marc Stoiber,Canada,8th April 2014,NaN,airasia,Flew Phuket to Chiang Mai and got dinged nearl...,NaN,Economy Class,NaN,no,"[phuket, chiang, mai, got, dinged, nearly, cad...","[-0.21732748532667756, -0.06510264235031274, -...",6
12627,3323,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Marc Stoiber,Canada,8th April 2014,NaN,airasia,Told to go to the website check in online and...,NaN,Economy Class,NaN,no,"[told, website, check, online, pre, register, ...","[-0.4441487977746874, -0.13182919065002352, -0...",6
12653,3330,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Stephen Britton,Canada,18th March 2014,NaN,airasia,When you check in they ask if you would like ...,NaN,Economy Class,NaN,no,"[when, check, ask, like, check, bag]","[-0.5668624391158422, -0.16881820807854334, -0...",6
12675,3338,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,M Lokan,Australia,10th February 2014,NaN,airasia,When I arrived in KL to check in they inform ...,NaN,NaN,NaN,no,"[when, arrived, kl, check, inform, changed, ea...","[-0.3437346432890211, -0.10301730089953967, -0...",6
12676,3338,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,M Lokan,Australia,10th February 2014,NaN,airasia,There was a lot of hassle and waiting but I w...,NaN,NaN,NaN,no,"[there, lot, hassle, waiting, provided, boardi...","[-0.4152430317231587, -0.12472523615828582, -0...",6
12678,3338,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,M Lokan,Australia,10th February 2014,NaN,airasia,Check in gave me a hot seat without paying fo...,NaN,NaN,NaN,no,"[check, gave, hot, seat, paying]","[-0.4341910034418106, -0.12772524803876878, -0...",6
12716,3350,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Victor Loukham,India,6th December 2013,NaN,airasia,Upon boarding I wasn't going to sit down unti...,NaN,Economy Class,NaN,no,"[upon, boarding, wasn, going, sit, seated]","[-0.3843136231104533, -0.11738445175190766, -0...",6
12760,3373,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,T Aly,Indonesia,14th August 2013,NaN,airasia,Having printed our boarding passes we still h...,NaN,Economy Class,NaN,no,"[having, printed, boarding, passes, line, chec...","[-0.4207766391336918, -0.12632183875474665, -0...",6
12869,3420,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,Nigel Reid,Singapore,2nd January 2013,NaN,airasia,Once you enter after check-in you cannot leav...,NaN,Economy Class,NaN,no,"[once, enter, check, in, leave, facilities, to...","[-0.28337063309219146, -0.08375669767459233, -...",6
12909,3446,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Michael Ratcliffe,Thailand,22nd July 2012,NaN,airasia,Every small thing is an extra now! The check ...,NaN,Economy Class,NaN,no,"[every, small, thing, extra, now, check, fine,...","[-0.34430580037749475, -0.1012015401954866, -0...",6
12918,3449,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,C Chai,Malaysia,9th July 2012,NaN,airasia,I've already checked in and only needed to ar...,NaN,Economy Class,NaN,no,"[ve, checked, needed, arrive, early, drop, lug...","[-0.3777450748852321, -0.11045028535383088, -0...",6
12922,3449,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,C Chai,Malaysia,9th July 2012,NaN,airasia,By the time I heard the boarding announcement...,NaN,Economy Class,NaN,no,"[by, time, heard, boarding, announcement, hope...","[-0.31170571385882795, -0.09496341952035436, -...",6
12942,3452,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,B Lamprell,Vietnam,2nd July 2012,NaN,airasia,Boarding in BKK was a case of first rush fir...,NaN,Economy Class,NaN,no,"[boarding, bkk, case, first, rush, aboard]","[-0.24169746227562428, -0.0736335483379662, -0...",6
12958,3456,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,J Wong,Malaysia,10th June 2012,NaN,airasia,The staff at the check-in was busy talking am...,NaN,Economy Class,NaN,no,"[staff, check, in, busy, talking, minutes, dep...","[-0.4546182836805071, -0.1366751574512039, -0....",6
13035,3500,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,A Hait,Malaysia,13th January 2012,NaN,airasia,Since Air Asia introduced web check-in the pr...,NaN,Economy Class,NaN,no,"[since, air, asia, introduced, web, check, in,...","[-0.3561879750341177, -0.10674069288911091, -0...",6
13036,3500,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,A Hait,Malaysia,13th January 2012,NaN,airasia,My flight was to Chennai I did web check-in a...,NaN,Economy Class,NaN,no,"[my, chennai, web, check, in, arrived]","[-0.3941924534738064, -0.11937132043143113, -0...",6
13042,3500,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,A Hait,Malaysia,13th January 2012,NaN,airasia,This has now happened to me a few times in th...,NaN,Economy Class,NaN,no,"[happened, times, past, separate, check, in, c...","[-0.35827601235359907, -0.10727845458313823, -...",6

In [67]:
df_neg[df_neg["cluster"] == 1]

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec,cluster
13,7,http://www.airlinequality.com/airline-reviews/...,1,"""Please improve your service""",NaN,S Jabathra,India,27th April 2018,Trip Verified,indigo-airlines,No food is provided during travelling,Solo Leisure,Economy Class,April 2018,no,"[no, food, provided, travelling]","[-0.4268392249941826, -0.12697916477918625, -0...",1
17,8,http://www.airlinequality.com/airline-reviews/...,2,"""Lack of flexibility""",NaN,S Richardson,United States,27th April 2018,Trip Verified,indigo-airlines,I travel with Indigo a lot and about half the...,Business,Economy Class,April 2018,no,"[travel, lot, half, time, regret]","[-0.3803952619433403, -0.11470185313373804, -0...",1
23,8,http://www.airlinequality.com/airline-reviews/...,2,"""Lack of flexibility""",NaN,S Richardson,United States,27th April 2018,Trip Verified,indigo-airlines,And it really irritates my sense of efficienc...,Business,Economy Class,April 2018,no,"[and, irritates, sense, efficiency, reasonable...","[-0.11810503248125315, -0.0359694086946547, -0...",1
28,9,http://www.airlinequality.com/airline-reviews/...,2,"""delayed by more than 5 hours""",NaN,S Rajur,India,16th April 2018,Trip Verified,indigo-airlines,This time they directly rescheduled my travel,Family Leisure,Economy Class,April 2018,no,"[time, directly, rescheduled, travel]","[-0.34908856078982353, -0.10660766484215856, -...",1
29,9,http://www.airlinequality.com/airline-reviews/...,2,"""delayed by more than 5 hours""",NaN,S Rajur,India,16th April 2018,Trip Verified,indigo-airlines,I was supposed to travel from Cochin to Hyder...,Family Leisure,Economy Class,April 2018,no,"[supposed, travel, cochin, hyderabad, chennai]","[-0.20954663380980493, -0.06334427669644356, -...",1
30,9,http://www.airlinequality.com/airline-reviews/...,2,"""delayed by more than 5 hours""",NaN,S Rajur,India,16th April 2018,Trip Verified,indigo-airlines,But they had rerouted me to Mumbai then to Hy...,Family Leisure,Economy Class,April 2018,no,"[but, rerouted, mumbai, hyderabad]","[-0.15687257470563054, -0.04754318029154092, -...",1
31,9,http://www.airlinequality.com/airline-reviews/...,2,"""delayed by more than 5 hours""",NaN,S Rajur,India,16th April 2018,Trip Verified,indigo-airlines,Before rescheduling directly they should have...,Family Leisure,Economy Class,April 2018,no,"[before, rescheduling, directly, given, option...","[-0.18817122860087288, -0.055890405343638525, ...",1
37,10,http://www.airlinequality.com/airline-reviews/...,2,"""poor quality of ground staff""",NaN,Gokal Chittaranjan,Indonesia,12th April 2018,Trip Verified,indigo-airlines,We had an onward flight from Singapore to Jak...,Business,Economy Class,April 2018,no,"[onward, singapore, jakarta, singapore]","[-0.11352609703317285, -0.03270712564699352, -...",1
39,10,http://www.airlinequality.com/airline-reviews/...,2,"""poor quality of ground staff""",NaN,Gokal Chittaranjan,Indonesia,12th April 2018,Trip Verified,indigo-airlines,We explained that we were transiting at Singa...,Business,Economy Class,April 2018,no,"[explained, transiting, singapore, need, visa]","[-0.2056845560669899, -0.06128926509991288, -0...",1
42,10,http://www.airlinequality.com/airline-reviews/...,2,"""poor quality of ground staff""",NaN,Gokal Chittaranjan,Indonesia,12th April 2018,Trip Verified,indigo-airlines,They refused to agree and insisted we require...,Business,Economy Class,April 2018,no,"[refused, agree, insisted, required, singapore...","[-0.13968190674980482, -0.04121320197979609, -...",1
43,10,http://www.airlinequality.com/airline-reviews/...,2,"""poor quality of ground staff""",NaN,Gokal Chittaranjan,Indonesia,12th April 2018,Trip Verified,indigo-airlines,After much discussion they allowed us to boar...,Business,Economy Class,April 2018,no,"[after, discussion, allowed, board, realized, ...","[-0.2203297106963065, -0.06631832423024914, -0...",1
56,12,http://www.airlinequality.com/airline-reviews/...,1,"""the flight I booked was cancelled""",NaN,J Reddy,India,26th March 2018,Trip Verified,indigo-airlines,I am a frequent domestic flyer and several ti...,Solo Leisure,Economy Class,March 2018,no,"[frequent, domestic, flyer, times, traveled]","[-0.1936696395277977, -0.05895885266363621, -0...",1
57,12,http://www.airlinequality.com/airline-reviews/...,1,"""the flight I booked was cancelled""",NaN,J Reddy,India,26th March 2018,Trip Verified,indigo-airlines,"Apart from one or two exceptions, every time ...",Solo Leisure,Economy Class,March 2018,no,"[apart, exceptions, time, booked, cancelled, r...","[-0.4047798508129615, -0.1215771933951016, -0....",1
58,12,http://www.airlinequality.com/airline-reviews/...,1,"""the flight I booked was cancelled""",NaN,J Reddy,India,26th March 2018,Trip Verified,indigo-airlines,It was alright when the re-booking was done f...,Solo Leisure,Economy Class,March 2018,no,"[alright, re, booking, time, lately, re, booke...","[-0.33760952468340594, -0.10119720437150034, -...",1
59,12,http://www.airlinequality.com/airline-reviews/...,1,"""the flight I booked was cancelled""",NaN,J Reddy,India,26th March 2018,Trip Verified,indigo-airlines,"As a female passenger traveling alone, I coul...",Solo Leisure,Economy Class,March 2018,no,"[as, female, passenger, traveling, alone, acce...","[-0.26129964308347553, -0.07842759597406257, -...",1
63,12,http://www.airlinequality.com/airline-reviews/...,1,"""the flight I booked was cancelled""",NaN,J Reddy,India,26th March 2018,Trip Verified,indigo-airlines,Not to mention the unexpected delays in airport,Solo Leisure,Economy Class,March 2018,no,"[not, mention, unexpected, delays]","[-0.24345642933622003, -0.07179562281817198, -...",1
65,12,http://www.airlinequality.com/airline-reviews/...,1,"""the flight I booked was cancelled""",NaN,J Reddy,India,26th March 2018,Trip Verified,indigo-airlines,The chances of getting your entire schedule m...,Solo Leisure,Economy Class,March 2018,no,"[chances, getting, entire, schedule, messed, p...","[-0.1838941647272025, -0.05511697338494871, -0...",1
75,25,http://www.airlinequality.com/airline-reviews/...,1,"""cheating elderly people""",NaN,D Narash,United States,8th December 2017,Trip Verified,indigo-airlines,Indigo provided no help getting onto the flig...,Family Leisure,Economy Class,November 2017,no,"[provided, help, getting, mumbai, nov]","[-0.29734964296221733, -0.08952994532883167, -...",1
80,25,http://www.airlinequality.com/airline-reviews/...,1,"""cheating elderly people""",NaN,D Narash,United States,8th December 2017,Trip Verified,indigo-airlines,I have noticed the exact same happening to an...,Family Leisure,Economy Class,November 2017,no,"[noticed, exact, happening, senior, citizen, c...","[-0.14045538070301214, -0.04300349780047933, -...",1
81,25,http://www.airlinequality.com/airline-reviews/...,1,"""cheating elderly people""",NaN,D Narash,United States,8th December 2017,Trip Verified,indigo-airlines,When I objected they issued two tickets to th...,Family Leisure,Economy Class,November 2017,no,"[when, objected, issued, tickets, couple, free]","[-0.2987548115973671, -0.08969300705939531, -0...",1
90,26,http://www.airlinequality.com/airline-reviews/...,2,"""flight service is not good""",NaN,U Patel,India,2nd December 2017,Trip Verified,indigo-airlines,Crew members did not inform me about my meals...,Family Leisure,Economy Class,November 2017,yes,"[crew, members, inform, meals, going, bangalore]","[-0.3015054961045583, -0.0904083934923013, -0....",1
99,27,http://www.airlinequality.com/airline-reviews/...,1,"""final flight I will book with IndiGo""",NaN,Bergen Stephen,India,28th November 2017,Trip Verified,indigo-airlines,Our flight was from Trivandrum to Patna via B...,Solo Leisure,Economy Class,November 2017,no,"[our, trivandrum, patna, bengaluru]","[-0.08940213220193982, -0.027325397357344627, ...",1
102,27,http://www.airlinequality.com/airline-reviews/...,1,"""final flight I will book with IndiGo""",NaN,Bergen Stephen,India,28th November 2017,Trip Verified,indigo-airlines,IndiGo screwed us very bad and said they will...,Solo Leisure,Economy Class,November 2017,no,"[screwed, bad, provide, different, separate, d...","[-0.2934250580146909, -0.08687621219238888, -0...",1
105,27,http://www.airlinequality.com/airline-reviews/...,1,"""final flight I will book with IndiGo""",NaN,Bergen Stephen,India,28th November 2017,Trip Verified,indigo-airlines,Now my time and money are completely wasted,Solo Leisure,Economy Class,November 2017,no,"[now, time, money, completely, wasted]","[-0.34839473515748975, -0.10405673533678055, -...",1
113,29,http://www.airlinequality.com/airline-reviews/...,1,"""as a worst experience""",NaN,Gaurav Surwade,India,15th November 2017,Verified Review,indigo-airlines,We tried requesting the ground staff but they...,Business,Economy Class,February 2017,no,"[tried, requesting, ground, staff, arrogant, d...","[-0.29834839468821883, -0.08936537077534012, -...",1
114,29,http://www.airlinequality.com/airline-reviews/...,1,"""as a worst experience""",NaN,Gaurav Surwade,India,15th November 2017,Verified Review,indigo-airlines,It seemed like we have to live on their mercy...,Business,Economy Class,February 2017,no,"[like, live, mercy, board, bombay]","[-0.30498995408415797, -0.09081765948794782, -...",1
116,29,http://www.airlinequality.com/airline-reviews/...,1,"""as a worst experience""",NaN,Gaurav Surwade,India,15th November 2017,Verified Review,indigo-airlines,It was most inferior action by the Indigo sta...,Business,Economy Class,February 2017,no,"[inferior, action, staff, avoided]","[-0.20850825181696564, -0.06383202504366636, -...",1
120,31,http://www.airlinequality.com/airline-reviews/...,1,"""needless 5 more hours""",NaN,S Moors,United States,18th October 2017,Verified Review,indigo-airlines,They wouldn't let us on that flight despite h...,Business,Economy Class,October 2017,no,"[wouldn, let, despite, having, sufficient, spa...","[-0.3091732740867883, -0.09220592642668635, -0...",1
122,31,http://www.airlinequality.com/airline-reviews/...,1,"""needless 5 more hours""",NaN,S Moors,United States,18th October 2017,Verified Review,indigo-airlines,But a plane just took off that we could have ...,Business,Economy Class,October 2017,no,"[but, took, in, sit, airplanes, absolutely, ne...","[-0.3493590244324878, -0.10520215961150825, -0...",1
130,36,http://www.airlinequality.com/airline-reviews/...,1,"""an extremely annoying experience""",NaN,F Burton,Canada,25th August 2017,Verified Review,indigo-airlines,As the passengers were coming through the pas...,Family Leisure,Economy Class,August 2017,no,"[as, passengers, coming, passage, couldn, way,...","[-0.4368357343067016, -0.12984509653012669, -0...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12851,3401,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,Lum Munhon,Malaysia,7th March 2013,NaN,airasia,Flight AK1441 from Hanoi to Kuala Lumpur,NaN,Economy Class,NaN,no,"[ak, hanoi, kuala, lumpur]","[-0.1592292410787195, -0.04660040559247136, -0...",1
12866,3420,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,Nigel Reid,Singapore,2nd January 2013,NaN,airasia,We travelled from Tokyo Narita to Sapporo-Chit...,NaN,Economy Class,NaN,no,"[travelled, tokyo, narita, sapporo, chitose, dec]","[-0.04700419011836251, -0.015388041851110756, ...",1
12870,3420,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,Nigel Reid,Singapore,2nd January 2013,NaN,airasia,We felt trapped and stuck there in a facility...,NaN,Economy Class,NaN,no,"[felt, trapped, stuck, facility, resembles, ho...","[-0.18734049308113754, -0.054855973983649164, ...",1
12882,3430,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,K Hodgson,United Kingdom,22nd November 2012,NaN,airasia,Instead of asking them to stand aside to fill...,NaN,Economy Class,NaN,no,"[instead, asking, stand, aside, documents, let...","[-0.22291948646306992, -0.06679977790918201, -...",1
12883,3430,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,K Hodgson,United Kingdom,22nd November 2012,NaN,airasia,"The supervisor said ""you could have joined an...",NaN,Economy Class,NaN,no,"[supervisor, you, joined, line, yes, again]","[-0.28538844486077625, -0.08565154578536749, -...",1
12888,3443,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Kirstine Desian,Denmark,16th August 2012,NaN,airasia,I was going from Chiang Mai to Bangkok and had...,NaN,Economy Class,NaN,no,"[going, chiang, mai, bangkok, connecting, cope...","[-0.20990446954965591, -0.06341273461778958, -...",1
12892,3443,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Kirstine Desian,Denmark,16th August 2012,NaN,airasia,That meant I had to pay for rebooking and sta...,NaN,Economy Class,NaN,no,"[meant, pay, rebooking, stay, nearly, hours]","[-0.2958831911285718, -0.0879639550500239, -0....",1
12893,3443,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Kirstine Desian,Denmark,16th August 2012,NaN,airasia,I made a complaint to Air Asia but they would...,NaN,Economy Class,NaN,no,"[complaint, air, asia, pay, delay, hours]","[-0.49711615840593976, -0.1480523757636547, -0...",1
12896,3445,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,T Nelson,NaN,6th August 2012,NaN,airasia,I have flown Air Asia 8 times between CGK-SIN-...,NaN,Economy Class,NaN,no,"[flown, air, asia, times, cgk, sin, cgk, on, t...","[-0.3470250475737784, -0.10525614778614706, -0...",1
12902,3445,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,T Nelson,NaN,6th August 2012,NaN,airasia,They seem to be getting the Lion air attitude,NaN,Economy Class,NaN,no,"[getting, lion, air, attitude]","[-0.3455699495971203, -0.10421654907986522, -0...",1
12905,3445,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,T Nelson,NaN,6th August 2012,NaN,airasia,Yes it's more money but the delays are out of...,NaN,Economy Class,NaN,no,"[yes, money, delays, control, air, asia]","[-0.4153460239370664, -0.12381019815802574, -0...",1
12907,3446,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Michael Ratcliffe,Thailand,22nd July 2012,NaN,airasia,Flew from Bangkok (BKK) to Jakarta (CGK) on 27...,NaN,Economy Class,NaN,no,"[bangkok, bkk, jakarta, cgk, th, june, year]","[-0.21040675895554678, -0.06483685251857553, -...",1
12933,3452,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,B Lamprell,Vietnam,2nd July 2012,NaN,airasia,We flew from SGN-BKK return in June 2012,NaN,Economy Class,NaN,no,"[sgn, bkk, return, june]","[-0.20027337316423655, -0.06084145046770573, -...",1
12934,3452,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,B Lamprell,Vietnam,2nd July 2012,NaN,airasia,I flew Air Asia ten years ago and found it wa...,NaN,Economy Class,NaN,no,"[air, asia, years, ago, fun, inexpensive]","[-0.26086145810162026, -0.07893845710592966, -...",1
12935,3452,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,B Lamprell,Vietnam,2nd July 2012,NaN,airasia,How things have changed! It seems Air Asia is...,NaN,Economy Class,NaN,no,"[things, changed, air, asia, squeezing, money,...","[-0.34235123441451126, -0.10227234320579252, -...",1
12948,3453,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Eko Prakoso,Indonesia,1st July 2012,NaN,airasia,When I was in the LCC terminal the ground cre...,NaN,Economy Class,NaN,no,"[when, lcc, terminal, ground, crew, impolite, ...","[-0.2959504390601069, -0.09037747905988779, -0...",1
12954,3456,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,J Wong,Malaysia,10th June 2012,NaN,airasia,No direction whatsoever from the ground staff,NaN,Economy Class,NaN,no,"[no, direction, whatsoever, ground, staff]","[-0.36995480582118034, -0.11160927563905716, -...",1
12955,3456,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,J Wong,Malaysia,10th June 2012,NaN,airasia,Queue system was a disaster as there's no ind...,NaN,Economy Class,NaN,no,"[queue, disaster, there, indication, line]","[-0.33241779208183286, -0.09986431244760752, -...",1
12971,3463,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Brunetta,Australia,20th May 2012,NaN,airasia,We flew from Sydney to Bangkok and then from P...,NaN,Economy Class,NaN,no,"[sydney, bangkok, phuket, sydney]","[-0.12627452053129673, -0.0382256843149662, -0...",1
12972,3463,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Brunetta,Australia,20th May 2012,NaN,airasia,Staff were so rude and were unable to answer ...,NaN,Economy Class,NaN,no,"[staff, rude, unable, answer, questions]","[-0.35178233236074447, -0.1058442559093237, -0...",1
12983,3468,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Oscar Collazos,Australia,30th April 2012,NaN,airasia,My family and I flew BKK-KUL KUL-SYD,NaN,Economy Class,NaN,no,"[my, family, bkk, kul, kul, syd]","[-0.2741944234197338, -0.08288015382519613, -0...",1
12992,3472,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,N David,United States,15th April 2012,NaN,airasia,Attendants seem inexperienced and lack manners,NaN,Premium Economy,NaN,no,"[attendants, inexperienced, lack, manners]","[-0.20132972067222, -0.059092582669109106, -0....",1
12994,3475,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,M Ennis,Australia,8th April 2012,NaN,airasia,Our flight KUL-SGN was forced to return due to...,NaN,Economy Class,NaN,no,"[our, kul, sgn, forced, return, tropical, stor...","[-0.1778348635416478, -0.05311514760251157, -0...",1
13003,3477,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,Hvide Sande,Germany,2nd April 2012,NaN,airasia,No attention from flight attendants whatsoever,NaN,Economy Class,NaN,no,"[no, attention, attendants, whatsoever]","[-0.28096567280590534, -0.08247789926826954, -...",1
13007,3482,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,Edsel Johnson,Thailand,27th March 2012,NaN,airasia,Have been flying Air Asia for 5 years and now ...,NaN,Economy Class,NaN,no,"[have, air, asia, years]","[-0.37179921939969063, -0.11191670969128609, -...",1
13014,3493,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Lomas,United Kingdom,9th February 2012,NaN,airasia,At Penang Airport had chair but had to walk u...,NaN,Economy Class,NaN,no,"[at, penang, chair, walk, steps]","[-0.16939878165721894, -0.05117541644722223, -...",1
13018,3493,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Lomas,United Kingdom,9th February 2012,NaN,airasia,Will never travel Air Asia again alone,NaN,Economy Class,NaN,no,"[will, travel, air, asia]","[-0.4154719728976488, -0.12526065111160278, -0...",1
13024,3494,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Vicki Rule,Australia,7th February 2012,NaN,airasia,No sign of any compensation nothing but a not...,NaN,Economy Class,NaN,no,"[no, sign, compensation, note, email, hope, wo...","[-0.27789392239517635, -0.08321629423234198, -...",1
13025,3498,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,N Craigie,Australia,18th January 2012,NaN,airasia,Flights from Perth-KL then KL to Bangkok return,NaN,Economy Class,NaN,no,"[perth, kl, kl, bangkok, return]","[-0.23460249081254006, -0.07064082007855177, -...",1

In [68]:
df_all = pd.concat([df_neg, df_pos])

In [69]:
df_neg.shape, df_pos.shape, df_all.shape

((6058, 18), (7450, 18), (13508, 18))

In [83]:

df_all = dcal
df_all = (df_all.set_index(df_all.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df_all.columns])
df_all = df_all[(df_all["Review_Text_Clean"] != "") & (df_all["Review_Text_Clean"] != " ") & (df_all["Review_Text_Clean"] != None)]

df_all["tokennized_review_sen"] = df_all["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
df_all["tokennized_review_sen"] = df_all["tokennized_review_sen"].apply(lambda x: remove_custom_stopwords(x))
model_df = gs.models.Word2Vec(df_neg["tokennized_review_sen"].tolist(), size = 200, window = 8, min_count=1, workers = 4)

In [105]:
sample_airline_review = "Atlanta to Santiago de Chile. Quite an awful experience on a decrepit Boeing 767-300. Cabin configuration with a staggered 1-2-1, seat itself very old but sort of ok (narrow though). The worst of this flight is the inflight service, seems at Delta they don't take their premium customers seriously; food below par (entree cold, beef fillet hard as a stone); presentation so poor (when you put some warm bread on my tray, why on Earth should you put it on the butter so that it melts everywhere?). Cabin crew attitude too casual for a business class cabin. IFE in such a small screen that some smartphones are bigger; new business class blanket (by Westin) is oddly covered - on the supposedly external face in a very hard and \"plastic\"-look-and-touch material which I fail to understand. Overall the service looks more like a Premium Economy than a Business Class, I keep asking myself when Delta will get rid of those old dinosaurs that are B767s"
sample_movie_review = "3 Idiots is always fun for me, as a film reviewer- some movie suck, some rock and some are so sad and inspirational and funny at the same time- those are the works to sum up Vidhu Vinod's best movie yet. The movie is about 3 college friends who try to meet up again by the most smartest of their group- Rancho played brilliantly by Aamir Khan, Mahadeven and Sharman do a good job too and the movie packs emotion and laughter. It's 3 hours- a long movie with a long and great message. While cliched, still, 3 idiots manages to be one of the best bollywood movies I have ever seen. It's a rare, funny treat at the movies if you haven't seen it. Rated U/A Parental Guidence for language and emotional moments In India and Rated PG13 in us for thematic elements, language, some violence and partial nudity"
# sample_movie_review = "I was looking through the glass window when I saw a little bird."
sample_reviews = [sample_airline_review, sample_movie_review]
reviews = pd.DataFrame(sample_reviews)
reviews.columns = ["sample_reviews"]


# reviews = (reviews.set_index(reviews.columns.drop('sample_reviews',1).tolist()).sample_reviews.str.split('.', expand=True).stack().reset_index().rename(columns={0:'sample_reviews'}).loc[:, reviews.columns])
reviews["tokennized_review_sen"] = reviews["sample_reviews"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
reviews["tokennized_review_sen"] = reviews["tokennized_review_sen"].apply(lambda x: remove_custom_stopwords(x))

In [106]:
reviews["avg_sen_vec"] = reviews["tokennized_review_sen"].apply(lambda x: sen2vec(x, model_df))
reviews.head()

/Users/vrathod/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """

,sample_reviews,tokennized_review_sen,avg_sen_vec
0,Atlanta to Santiago de Chile. Quite an awful e...,"[atlanta, santiago, chile, quite, awful, exper...","[-0.04368149500989874, -0.017913480565934066, ..."
1,"3 Idiots is always fun for me, as a film revie...","[idiots, fun, me, film, reviewer, movie, suck,...","[-0.02031172944981862, -0.008239705013310365, ..."

In [107]:
distance_0 = clusterer.classify(reviews["avg_sen_vec"][0])
distance_1 = clusterer.classify(reviews["avg_sen_vec"][1])
print(distance_0, distance_1)

6 6

In [114]:
print(cosine_distance(df_neg.iloc[8].avg_sen_vec, df_neg.iloc[8].avg_sen_vec))
print(cosine_distance(reviews["avg_sen_vec"][0], df_neg.iloc[1].avg_sen_vec))
print(cosine_distance(reviews["avg_sen_vec"][0], df_neg.iloc[2].avg_sen_vec))
print(cosine_distance(reviews["avg_sen_vec"][0], reviews["avg_sen_vec"][1]))

1.1102230246251565e-16
0.04779114879741431
0.047933389796235515
0.00013871617240934775