In [1]:
import pandas as pd
import numpy as np
import gensim as gs

In [2]:
dcal = pd.read_csv("cleansed_dcal_data.csv")
dcal.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi. Most disorganized...,Solo Leisure,Economy Class,May 2018,no
1,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,Doha to Kochi. The check in staff were unprof...,Solo Leisure,Economy Class,May 2018,no
2,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"Bhubaneshwar to Mumbai. IndiGo, being a low-c...",Solo Leisure,Economy Class,January 2018,yes
3,3,http://www.airlinequality.com/airline-reviews/...,10,"""happy with this sweet gestue""",NaN,Kiranraj Nayak,India,14th May 2018,Trip Verified,indigo-airlines,Me and my wife were travelling to Bangalore f...,Family Leisure,Economy Class,March 2018,yes
4,4,http://www.airlinequality.com/airline-reviews/...,10,"""such caring staff""",NaN,Dr Bhawna Johri,India,12th May 2018,Trip Verified,indigo-airlines,Flew Coimbatore to Delhi. First of all thank ...,Family Leisure,Economy Class,April 2018,no

In [3]:
indigo_neg = dcal[(dcal["Airline_Name"] == "indigo-airlines") & (dcal["Recommended"] == "no")]
indigo_pos = dcal[(dcal["Airline_Name"] == "indigo-airlines") & (dcal["Recommended"] == "yes")]

spicejet_neg = dcal[(dcal["Airline_Name"] == "spicejet") & (dcal["Recommended"] == "no")]
spicejet_pos = dcal[(dcal["Airline_Name"] == "spicejet") & (dcal["Recommended"] == "yes")]

airasia_neg = dcal[(dcal["Airline_Name"] == "airasia") & (dcal["Recommended"] == "no")]
airasia_pos = dcal[(dcal["Airline_Name"] == "airasia") & (dcal["Recommended"] == "yes")]

easyjet_neg = dcal[(dcal["Airline_Name"] == "easyjet") & (dcal["Recommended"] == "no")]
easyjet_pos = dcal[(dcal["Airline_Name"] == "easyjet") & (dcal["Recommended"] == "yes")]

ryanair_neg = dcal[(dcal["Airline_Name"] == "ryanair") & (dcal["Recommended"] == "no")]
ryanair_pos = dcal[(dcal["Airline_Name"] == "ryanair") & (dcal["Recommended"] == "yes")]

southwest_neg = dcal[(dcal["Airline_Name"] == "southwest-airlines") & (dcal["Recommended"] == "no")]
southwest_pos = dcal[(dcal["Airline_Name"] == "southwest-airlines") & (dcal["Recommended"] == "yes")]

In [4]:
import spacy

In [5]:
indigo_neg.index

Int64Index([  0,   1,   4,   5,   7,   8,   9,  10,  11,  12,  20,  23,  24,
             25,  27,  29,  31,  32,  35,  36,  38,  40,  42,  45,  46,  47,
             50,  51,  53,  55,  60,  71,  72,  78,  81,  84,  95, 103, 104,
            105, 110, 120, 122, 133, 134, 137, 140, 175, 177, 179, 183],
           dtype='int64')

In [6]:
df = indigo_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
indigo_neg_sen = df
indigo_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi,Solo Leisure,Economy Class,May 2018,no
1,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Most disorganized and inefficient airline I h...,Solo Leisure,Economy Class,May 2018,no
2,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,"Multiple delays, standing in line for over 8+...",Solo Leisure,Economy Class,May 2018,no
3,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Do not fly with this airline,Solo Leisure,Economy Class,May 2018,no
4,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,,Solo Leisure,Economy Class,May 2018,no

In [7]:
df = indigo_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
indigo_pos_sen = df
indigo_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Bhubaneshwar to Mumbai,Solo Leisure,Economy Class,January 2018,yes
1,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"IndiGo, being a low-cost no-frills airline is...",Solo Leisure,Economy Class,January 2018,yes
2,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Although their in-flight menu is bit expensiv...,Solo Leisure,Economy Class,January 2018,yes
3,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"From ground handling to the crews' services, ...",Solo Leisure,Economy Class,January 2018,yes
4,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,The students fare scheme is a boon indeed,Solo Leisure,Economy Class,January 2018,yes

In [8]:
df = spicejet_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
spicejet_neg_sen = df
spicejet_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,Jaipur to Hyderabad,Couple Leisure,Economy Class,June 2018,no
1,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,"Too bad experience, as my schedule is ruined",Couple Leisure,Economy Class,June 2018,no
2,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,My flight was on 9,Couple Leisure,Economy Class,June 2018,no
3,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,"15 pm on 8th june, but in evening 4pm I receiv...",Couple Leisure,Economy Class,June 2018,no
4,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,Then about 5pm I received another notificatio...,Couple Leisure,Economy Class,June 2018,no

In [9]:
df = spicejet_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
spicejet_pos_sen = df
spicejet_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,Pune to Dubai,Couple Leisure,Economy Class,April 2018,yes
1,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,Departure and arrival on time,Couple Leisure,Economy Class,April 2018,yes
2,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,Checkin at Pune airport was quick,Couple Leisure,Economy Class,April 2018,yes
3,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,New aircraft and clean interior and toilets,Couple Leisure,Economy Class,April 2018,yes
4,208,http://www.airlinequality.com/airline-reviews/...,8,"""I will fly again""",2 reviews,Francisco Fernandes,India,28th May 2018,Trip Verified,spicejet,I paid Rs 300 for chicken meal and was good,Couple Leisure,Economy Class,April 2018,yes

In [10]:
df = airasia_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
airasia_neg_sen = df
airasia_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,Hong Kong to Phuket,Family Leisure,Economy Class,February 2018,no
1,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I booked the premium flex ticket to get good ...,Family Leisure,Economy Class,February 2018,no
2,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I was advised that this type of ticket allowe...,Family Leisure,Economy Class,February 2018,no
3,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I needed to change my flight date more than a...,Family Leisure,Economy Class,February 2018,no
4,2992,http://www.airlinequality.com/airline-reviews/...,1,"""I end up with normal seat""",NaN,D Lansson,Hong Kong,17th May 2018,Trip Verified,airasia,I tried for days to access my booking on Aira...,Family Leisure,Economy Class,February 2018,no

In [11]:
df = airasia_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
airasia_pos_sen = df
airasia_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,My flight with AirAsia was from Singapore to ...,Family Leisure,Economy Class,May 2018,yes
1,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,Boarding was slow but we reached Penang befor...,Family Leisure,Economy Class,May 2018,yes
2,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,Cabin crew were friendly and were eager in he...,Family Leisure,Economy Class,May 2018,yes
3,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,Seat was okay,Family Leisure,Economy Class,May 2018,yes
4,2990,http://www.airlinequality.com/airline-reviews/...,7,"""flight with AirAsia was a good one""",NaN,D Tan,Singapore,27th May 2018,Trip Verified,airasia,"Overall, the flight with AirAsia was a good one",Family Leisure,Economy Class,May 2018,yes

In [12]:
df = easyjet_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
easyjet_neg_sen = df
easyjet_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,Gibraltar to Manchester flight cancelled on 2...,Family Leisure,Economy Class,April 2018,no
1,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,"We were a party of 9 (myself, my partner, 3 s...",Family Leisure,Economy Class,April 2018,no
2,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,No assistance from easyJet ground crew in fin...,Family Leisure,Economy Class,April 2018,no
3,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,Managed to get a flight from Malaga to Doncas...,Family Leisure,Economy Class,April 2018,no
4,2165,http://www.airlinequality.com/airline-reviews/...,1,"""No reimbursement received""",NaN,H Keane,United Kingdom,8th June 2018,Trip Verified,easyjet,This really was the very best we could get,Family Leisure,Economy Class,April 2018,no

In [13]:
df = easyjet_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
easyjet_pos_sen = df
easyjet_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,21,Couple Leisure,Economy Class,June 2018,yes
1,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,55 flight from Paris to Luton,Couple Leisure,Economy Class,June 2018,yes
2,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,Flight delayed as staff unable to disembark t...,Couple Leisure,Economy Class,June 2018,yes
3,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,After 45 minutes one wheelchair was located a...,Couple Leisure,Economy Class,June 2018,yes
4,2164,http://www.airlinequality.com/airline-reviews/...,10,"""one hour later than scheduled""",NaN,Sarah Tarmey,United Kingdom,9th June 2018,Trip Verified,easyjet,My flight left one hour later than scheduled ...,Couple Leisure,Economy Class,June 2018,yes

In [14]:
df = ryanair_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
ryanair_neg_sen = df
ryanair_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,Madrid to Sofia,Couple Leisure,Economy Class,June 2018,no
1,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,The most unhelpful customer service ever! Wha...,Couple Leisure,Economy Class,June 2018,no
2,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,"If you can, save yourself the headache and ch...",Couple Leisure,Economy Class,June 2018,no
3,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,Talking to Ryanair's support staff was like t...,Couple Leisure,Economy Class,June 2018,no
4,344,http://www.airlinequality.com/airline-reviews/...,1,"""most unhelpful customer service""",NaN,O Meerden,Canada,11th June 2018,Trip Verified,ryanair,They are trained to copy and paste generic re...,Couple Leisure,Economy Class,June 2018,no

In [15]:
df = ryanair_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
ryanair_pos_sen = df
ryanair_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,Alicante to East Midlands,Couple Leisure,Economy Class,June 2018,yes
1,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,Ryanair is a budget airline that i use on a r...,Couple Leisure,Economy Class,June 2018,yes
2,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,I choose them because of price only and if yo...,Couple Leisure,Economy Class,June 2018,yes
3,347,http://www.airlinequality.com/airline-reviews/...,6,"""price can't be beaten""",NaN,Patricia Castleman,United Kingdom,10th June 2018,Trip Verified,ryanair,,Couple Leisure,Economy Class,June 2018,yes
4,366,http://www.airlinequality.com/airline-reviews/...,8,"""amazing service""",NaN,Paul Dorrington,United Kingdom,15th May 2018,Trip Verified,ryanair,Krakow to Stansted,Family Leisure,Economy Class,May 2018,yes

In [16]:
df = southwest_neg
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
southwest_neg_sen = df
southwest_neg_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,Portland to Nashville via Baltimore,Solo Leisure,Economy Class,June 2018,no
1,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,I am disappointed in this airline and never g...,Solo Leisure,Economy Class,June 2018,no
2,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,In the past few years that I’ve flown with So...,Solo Leisure,Economy Class,June 2018,no
3,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,"Today, they delayed my flight so much that I ...",Solo Leisure,Economy Class,June 2018,no
4,1504,http://www.airlinequality.com/airline-reviews/...,2,"""Not impressed at all""",NaN,Jamie Jordan,United States,10th June 2018,Trip Verified,southwest-airlines,The placed me on one of the latest flights to...,Solo Leisure,Economy Class,June 2018,no

In [17]:
df = southwest_pos
df = (df.set_index(df.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df.columns])
southwest_pos_sen = df
southwest_pos_sen.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,1506,http://www.airlinequality.com/airline-reviews/...,3,"""I’m very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,Oakland to Orange County,Solo Leisure,Economy Class,June 2018,yes
1,1506,http://www.airlinequality.com/airline-reviews/...,3,"""I’m very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,10 out of the 12 flights I had with Southwest...,Solo Leisure,Economy Class,June 2018,yes
2,1506,http://www.airlinequality.com/airline-reviews/...,3,"""I’m very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,I’m very disappointed since a chunk of my tim...,Solo Leisure,Economy Class,June 2018,yes
3,1506,http://www.airlinequality.com/airline-reviews/...,3,"""I’m very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,"I always fly out from Oakland to either SNA, ...",Solo Leisure,Economy Class,June 2018,yes
4,1506,http://www.airlinequality.com/airline-reviews/...,3,"""I’m very disappointed""",NaN,M Lee,United States,2nd June 2018,Trip Verified,southwest-airlines,I’ve been a loyal customer for 4,Solo Leisure,Economy Class,June 2018,yes

In [18]:
#nlp = spacy.load('en_core_web_lg')

In [19]:
#doc1 = nlp(indigo_neg_sen["Review_Text_Clean"][1])

In [20]:
# for token in doc1:
#     print(token.text, token.has_vector, len(token.vector))

In [21]:
from gensim.parsing.preprocessing import remove_stopwords

In [22]:
indigo_neg_sen["tokennized_review_sen"] = indigo_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_indigo_neg = gs.models.Word2Vec(indigo_neg_sen["tokennized_review_sen"].tolist(), size = 200, window = 8, min_count=1, workers = 4)
indigo_pos_sen["tokennized_review_sen"] = indigo_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_indigo_pos = gs.models.Word2Vec(indigo_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [23]:
spicejet_neg_sen["tokennized_review_sen"] = spicejet_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_spicejet_neg = gs.models.Word2Vec(spicejet_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
spicejet_pos_sen["tokennized_review_sen"] = spicejet_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_spicejet_pos = gs.models.Word2Vec(spicejet_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [24]:
easyjet_neg_sen["tokennized_review_sen"] = easyjet_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_easyjet_neg = gs.models.Word2Vec(easyjet_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
easyjet_pos_sen["tokennized_review_sen"] = easyjet_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_easyjet_pos = gs.models.Word2Vec(easyjet_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [25]:
ryanair_neg_sen["tokennized_review_sen"] = ryanair_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_ryanair_neg = gs.models.Word2Vec(ryanair_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
ryanair_pos_sen["tokennized_review_sen"] = ryanair_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_ryanair_pos = gs.models.Word2Vec(ryanair_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [26]:
airasia_neg_sen["tokennized_review_sen"] = airasia_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_airasia_neg = gs.models.Word2Vec(airasia_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
airasia_pos_sen["tokennized_review_sen"] = airasia_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_airasia_pos = gs.models.Word2Vec(airasia_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [27]:
southwest_neg_sen["tokennized_review_sen"] = southwest_neg_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_southwest_neg = gs.models.Word2Vec(southwest_neg_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)
southwest_pos_sen["tokennized_review_sen"] = southwest_pos_sen["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
model_southwest_pos = gs.models.Word2Vec(southwest_pos_sen["tokennized_review_sen"].tolist(),  size = 200, window = 8, min_count=1, workers = 4)

In [28]:
print(model_ryanair_neg["cabin"])

[-0.5192971   0.1658632   0.05437312  0.24066998  0.14971772 -0.5566794
  0.07755578  0.44401753 -0.2713804   0.05204014  0.18934456 -0.09119248
  0.01791419 -0.1526981  -0.22231089  0.1852845  -0.41692337  0.18596378
 -0.20185773 -0.27818784  0.19430253  0.32000232  0.2283814   0.12545858
 -0.00527151  0.10321508  0.04839017  0.27575913  0.26975176 -0.5428578
  0.27615958  0.15947111  0.1346651  -0.08932056  0.26418498 -0.23947896
 -0.14977351  0.1084028  -0.01688574 -0.07880087 -0.34930798 -0.15464473
  0.4002194  -0.19391854 -0.17312436  0.05025198  0.01863817 -0.49841127
 -0.01575894 -0.13395774 -0.1979869  -0.411136    0.22688949  0.26544148
  0.0558667   0.20436333 -0.15086134 -0.21024354 -0.01794053 -0.04574625
  0.31274304  0.53999835  0.03903125 -0.19487701 -0.32300913 -0.16423237
  0.01077539  0.49106508  0.38164368 -0.0492253   0.0751226  -0.18154503
 -0.39602447 -0.3149202   0.0727504   0.0543093  -0.28809145  0.37438288
 -0.48094016  0.12902778  0.40038702 -0.12834448  0.05105701  0.77208555
 -0.18838356  0.20460252  0.49236202 -0.208712    0.46218482  0.3110759
 -0.05194058  0.09455084  0.17610863  0.53275734 -0.11069737 -0.2079446
 -0.29557306  0.74717736  0.36691055 -0.22805895  0.2653352   0.05961145
 -0.03603627  0.11403146  0.01625062 -0.1231681  -0.02468553  0.15682447
 -0.594871    0.24199124 -0.02890361  0.1072161   0.31623507  0.14422077
 -0.12704895 -0.27120662 -0.4726613  -0.2561941   0.32248637  0.2546239
  0.40098065 -0.08649762  0.09392565  0.20120199 -0.2466655  -0.0043487
  0.18886499  0.6719332   0.10344186  0.2450112  -0.53442043 -0.29212457
  0.22952278  0.17717913 -0.28566897 -0.1675746   0.03831055  0.02630769
 -0.04240545 -0.11627414 -0.28184333 -0.32511646  0.14294748 -0.07730656
 -0.6575934   0.1688467  -0.59760046 -0.33192638 -0.20454192 -0.00170927
  0.05487281 -0.5172568  -0.20425852  0.44745913 -0.04099403  0.31739837
  0.03803794  0.10150287 -0.04502417  0.14767641  0.13248697  0.017472
 -0.14044477  0.27004904  0.1660485   0.21643275 -0.15356894  0.3458901
 -0.45503312  0.10688274  0.4389736   0.3388322   0.05733849  0.15961407
 -0.05295593  0.15782596 -0.07186653  0.07347189 -0.12169588  0.17929861
  0.3399315   0.25296205 -0.06564713 -0.07223773  0.12131716  0.05269301
 -0.33134416  0.19550253 -0.06276856  0.28379157 -0.06131006  0.07181996
  0.03648465 -0.25683933 -0.2244695   0.4343422   0.31374395  0.18849225
 -0.1264662   0.0437424 ]

/Users/vrathod/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """Entry point for launching an IPython kernel.

In [29]:
model_indigo_neg.wv.most_similar(positive="seat")

[('result', 0.23497387766838074),
 ('bought', 0.21241816878318787),
 ('avoided', 0.19766156375408173),
 ('good', 0.18098939955234528),
 ('arriving', 0.17961914837360382),
 ('average', 0.17089077830314636),
 ('while', 0.17027230560779572),
 ('they', 0.1662491410970688),
 ('flyer', 0.16186831891536713),
 ('counters', 0.16108672320842743)]

In [30]:
def sen2vec(sentence, model) :
    sentence_vec = np.array(np.repeat(0.0, 200))
    for word in sentence:
        word_vec = np.array(model[word])
        sentence_vec += word_vec
    return sentence_vec / len(sentence)

In [31]:
indigo_neg_sen["avg_sen_vec"] = indigo_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_indigo_neg))
indigo_pos_sen["avg_sen_vec"] = indigo_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_indigo_pos))

spicejet_neg_sen["avg_sen_vec"] = spicejet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_spicejet_neg))
spicejet_pos_sen["avg_sen_vec"] = spicejet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_spicejet_pos))

easyjet_neg_sen["avg_sen_vec"] = easyjet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_easyjet_neg))
easyjet_pos_sen["avg_sen_vec"] = easyjet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_easyjet_pos))

airasia_neg_sen["avg_sen_vec"] = airasia_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_airasia_neg))
airasia_pos_sen["avg_sen_vec"] = airasia_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_airasia_pos))

ryanair_neg_sen["avg_sen_vec"] = ryanair_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_ryanair_neg))
ryanair_pos_sen["avg_sen_vec"] = ryanair_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_ryanair_pos))

southwest_neg_sen["avg_sen_vec"] = southwest_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_southwest_neg))
southwest_pos_sen["avg_sen_vec"] = southwest_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_southwest_pos))

/Users/vrathod/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  after removing the cwd from sys.path.

In [32]:
# model_indigo_pos.wv.most_similar(positive="expensive")
model_ryanair_neg.wv.most_similar(positive="staff")

[('passengers', 0.999977171421051),
 ('ryanair', 0.9999771118164062),
 ('flight', 0.9999761581420898),
 ('time', 0.9999756217002869),
 ('people', 0.9999752640724182),
 ('bag', 0.9999731779098511),
 ('seat', 0.9999722838401794),
 ('plane', 0.9999710321426392),
 ('seats', 0.9999706745147705),
 ('it', 0.9999692440032959)]

In [33]:

df_neg = dcal[dcal["Recommended"]=="no"]
df_pos = dcal[dcal["Recommended"]=="yes"]
df_pos = (df_pos.set_index(df_pos.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df_pos.columns])
df_pos = df_pos[(df_pos["Review_Text_Clean"] != "") & (df_pos["Review_Text_Clean"] != " ") & (df_pos["Review_Text_Clean"] != None)]

df_neg = (df_neg.set_index(df_neg.columns.drop('Review_Text_Clean',1).tolist()).Review_Text_Clean.str.split('.', expand=True).stack().reset_index().rename(columns={0:'Review_Text_Clean'}).loc[:, df_neg.columns])
df_neg = df_neg[(df_neg["Review_Text_Clean"] != "") & (df_neg["Review_Text_Clean"] != " ") & (df_neg["Review_Text_Clean"] != None)]
df_neg.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi,Solo Leisure,Economy Class,May 2018,no
1,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Most disorganized and inefficient airline I h...,Solo Leisure,Economy Class,May 2018,no
2,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,"Multiple delays, standing in line for over 8+...",Solo Leisure,Economy Class,May 2018,no
3,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Do not fly with this airline,Solo Leisure,Economy Class,May 2018,no
5,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,Doha to Kochi,Solo Leisure,Economy Class,May 2018,no

In [34]:
def remove_custom_stopwords(df_row):
    stopwords = ["time", "airport", "plane", "flight", "flights", "airline", "airlines", "we", "the", "they", "it", "ryanair", "easyjet", "southwest", "indigo", "spicejet", "airasia"]
    cleansed_sentence = []
    for word in df_row:
        if word not in stopwords:
            cleansed_sentence.append(word)
    return cleansed_sentence

In [35]:
df_neg["tokennized_review_sen"] = df_neg["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
df_neg["tokennized_review_sen"] = df_neg["tokennized_review_sen"].apply(lambda x: remove_custom_stopwords(x))
model_df_neg = gs.models.Word2Vec(df_neg["tokennized_review_sen"].tolist(), size = 200, window = 8, min_count=1, workers = 4)

df_pos["tokennized_review_sen"] = df_pos["Review_Text_Clean"].apply(lambda line: gs.utils.simple_preprocess(remove_stopwords(line)))
df_pos["tokennized_review_sen"] = df_pos["tokennized_review_sen"].apply(lambda x: remove_custom_stopwords(x))
model_df_pos = gs.models.Word2Vec(df_pos["tokennized_review_sen"].tolist(), size = 200, window = 8, min_count=1, workers = 4)

In [36]:
model_df_neg.wv.most_similar(positive="trip")

[('day', 0.9999656081199646),
 ('my', 0.9999648928642273),
 ('booked', 0.99996417760849),
 ('short', 0.9999629259109497),
 ('times', 0.9999624490737915),
 ('days', 0.9999622702598572),
 ('new', 0.9999619722366333),
 ('holiday', 0.9999610185623169),
 ('th', 0.9999600052833557),
 ('tickets', 0.9999596476554871)]

In [37]:
model_df_pos.wv.most_similar(positive="delay")

[('arriving', 0.9999421238899231),
 ('leaving', 0.9999287724494934),
 ('earlier', 0.9999158382415771),
 ('morning', 0.9999067187309265),
 ('took', 0.999906063079834),
 ('slightly', 0.9998775720596313),
 ('return', 0.9998757839202881),
 ('min', 0.9998620748519897),
 ('hrs', 0.9998350143432617),
 ('later', 0.9998348355293274)]

In [38]:
# indigo_neg_sen["avg_sen_vec"] = indigo_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# indigo_pos_sen["avg_sen_vec"] = indigo_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# spicejet_neg_sen["avg_sen_vec"] = spicejet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# spicejet_pos_sen["avg_sen_vec"] = spicejet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# easyjet_neg_sen["avg_sen_vec"] = easyjet_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# easyjet_pos_sen["avg_sen_vec"] = easyjet_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# airasia_neg_sen["avg_sen_vec"] = airasia_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# airasia_pos_sen["avg_sen_vec"] = airasia_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# ryanair_neg_sen["avg_sen_vec"] = ryanair_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# ryanair_pos_sen["avg_sen_vec"] = ryanair_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

# southwest_neg_sen["avg_sen_vec"] = southwest_neg_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
# southwest_pos_sen["avg_sen_vec"] = southwest_pos_sen["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

In [39]:
df_neg["avg_sen_vec"] = df_neg["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_neg))
df_pos["avg_sen_vec"] = df_pos["tokennized_review_sen"].apply(lambda sentence: sen2vec(sentence, model_df_pos))

/Users/vrathod/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  after removing the cwd from sys.path.

In [40]:
df_neg.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec
0,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Dehradun to Pune via Delhi,Solo Leisure,Economy Class,May 2018,no,"[dehradun, pune, delhi]","[-0.15689324665193757, 0.034907667276759945, 0..."
1,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Most disorganized and inefficient airline I h...,Solo Leisure,Economy Class,May 2018,no,"[most, disorganized, inefficient, travelled]","[-0.11544057168066502, 0.023257623543031514, 0..."
2,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,"Multiple delays, standing in line for over 8+...",Solo Leisure,Economy Class,May 2018,no,"[multiple, delays, standing, line, hours, talk...","[-0.5402613675052469, 0.11482458121397278, 0.4..."
3,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Do not fly with this airline,Solo Leisure,Economy Class,May 2018,no,"[do, fly]","[-0.47183365374803543, 0.10112416930496693, 0...."
5,1,http://www.airlinequality.com/airline-reviews/...,1,"""an excess baggage of 5kg""",NaN,J Masim,India,20th May 2018,Trip Verified,indigo-airlines,Doha to Kochi,Solo Leisure,Economy Class,May 2018,no,"[doha, kochi]","[-0.046701507177203894, 0.008577212360250996, ..."

In [41]:
df_pos.head()

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec
0,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Bhubaneshwar to Mumbai,Solo Leisure,Economy Class,January 2018,yes,"[bhubaneshwar, mumbai]","[-0.11503108311444521, 0.014950591255910695, 0..."
1,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"IndiGo, being a low-cost no-frills airline is...",Solo Leisure,Economy Class,January 2018,yes,"[low, cost, no, frills, value, money]","[-0.5117298190792402, 0.030678107403218746, 0...."
2,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,Although their in-flight menu is bit expensiv...,Solo Leisure,Economy Class,January 2018,yes,"[although, in, menu, bit, expensive, bring, fo...","[-0.4052025093273683, 0.04494617913256992, 0.0..."
3,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,"From ground handling to the crews' services, ...",Solo Leisure,Economy Class,January 2018,yes,"[from, ground, handling, crews, services, exce...","[-0.3509415877716882, 0.05643657355436257, 0.0..."
4,2,http://www.airlinequality.com/airline-reviews/...,9,"""a value for money indeed""",1 reviews,Arindam Mahapatra,India,16th May 2018,Trip Verified,indigo-airlines,The students fare scheme is a boon indeed,Solo Leisure,Economy Class,January 2018,yes,"[students, fare, scheme, boon]","[-0.12536549801006913, 0.011623153201071545, 0..."

In [42]:

df_neg = df_neg[df_neg["tokennized_review_sen"].apply(lambda x: len(x) > 3 and len(x) < 10)]

df_pos = df_pos[df_pos["tokennized_review_sen"].apply(lambda x: len(x) > 3 and len(x) < 10)]

X_neg = np.array(list(df_neg["avg_sen_vec"]))
X_pos = np.array(list(df_pos["avg_sen_vec"]))

X_neg

array([[-0.11544057,  0.02325762,  0.08861124, ...,  0.00703811,
        -0.01848286,  0.02244629],
       [-0.45883065,  0.09529682,  0.34883585, ...,  0.02118746,
        -0.07307445,  0.09102604],
       [-0.51238256,  0.10697307,  0.39046856, ...,  0.02688682,
        -0.07844077,  0.10405789],
       ...,
       [-0.4814816 ,  0.10103681,  0.37183336, ...,  0.02682181,
        -0.07783439,  0.09303543],
       [-0.65149809,  0.1354832 ,  0.49243961, ...,  0.03504188,
        -0.09662058,  0.13515124],
       [-0.3300427 ,  0.06919955,  0.25654264, ...,  0.01871921,
        -0.05382047,  0.06097483]])

In [43]:
from nltk.cluster import KMeansClusterer, cosine_distance

clusterer = KMeansClusterer(10, cosine_distance, 7)
clusters = clusterer.cluster(X_neg, True, trace=True)
df_neg["cluster"] = clusters
df_neg["cluster"].value_counts()

k-means trial 0
iteration
iteration
iteration
iteration
iteration
k-means trial 1
iteration
k-means trial 2
iteration
iteration
iteration
iteration
iteration
k-means trial 3
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 4
iteration
iteration
iteration
iteration
iteration
k-means trial 5
iteration
iteration
iteration
iteration
k-means trial 6
iteration
iteration
iteration
iteration
iteration

3    1615
4    1186
2     794
1     742
6     692
8     626
9     356
5     323
7     247
0       1
Name: cluster, dtype: int64

In [44]:
clusterer = KMeansClusterer(10, cosine_distance, 7)
clusters = clusterer.cluster(X_pos, True, trace=True)
df_pos["cluster"] = clusters
df_pos["cluster"].value_counts()

k-means trial 0
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 1
iteration
k-means trial 2
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 3
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 4
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 5
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
k-means trial 6
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration
iteration

8    2599
9    1044
5     901
3     787
4     619
1     502
6     436
0     418
2     299
7     241
Name: cluster, dtype: int64

In [45]:
def get_word_count(cluster_num, input_df):
    cluster_x_words = []
    cluster_x_df = input_df[input_df["cluster"]==cluster_num]
    cluster_x_df["tokennized_review_sen"].apply(lambda x: cluster_x_words.extend(x))
    cluster_x_words_df = pd.DataFrame(cluster_x_words)
    cluster_x_words_df.columns = ["words"]
    print(cluster_x_words_df["words"].value_counts())

In [46]:
get_word_count(0, df_neg)

sales       3
nagging     1
pa          1
constant    1
Name: words, dtype: int64

In [47]:
get_word_count(1, df_neg)

flew             128
return            74
trip              65
my                56
air               49
london            46
lumpur            45
kuala             45
booked            43
stansted          42
th                42
fly               37
gatwick           35
times             35
cancelled         35
flying            33
day               31
year              28
asia              26
days              22
on                22
travel            22
this              22
later             20
san               19
old               18
vegas             18
delayed           18
city              17
kul               17
                ...
main               1
sister             1
bus                1
roundtrip          1
appear             1
planes             1
inconvenience      1
advised            1
began              1
eidl               1
flip               1
away               1
because            1
which              1
bit                1
prevents           1
shade              1
volunteer          1
narita             1
lot                1
inverness          1
technical          1
tues               1
celebrate          1
seat               1
vilnius            1
credit             1
spoiled            1
disrespectful      1
asthmatic          1
Name: words, Length: 1462, dtype: int64

In [48]:
get_word_count(2, df_neg)

experience      103
fly              96
this             93
flying           78
service          77
cost             54
low              49
cheap            42
flown            42
worst            41
ve               40
good             37
bad              36
better           35
years            34
don              33
budget           31
use              31
travel           30
company          26
again            24
asia             24
poor             24
customers        24
think            23
air              22
care             21
know             19
times            17
awful            16
               ...
once              1
restock           1
reply             1
borders           1
summarise         1
profits           1
thb               1
airfare           1
purchased         1
crete             1
stories           1
liked             1
flies             1
consolation       1
grace             1
pre               1
phuket            1
respects          1
friendliness      1
retrograde        1
co                1
kid               1
wasted            1
sold              1
airplane          1
rescheduled       1
emailed           1
endorsed          1
aggravated        1
shame             1
Name: words, Length: 1665, dtype: int64

In [49]:
get_word_count(3, df_neg)

staff           199
passengers      106
crew             99
food             81
no               72
cabin            71
said             64
rude             62
got              57
so               48
didn             48
people           48
board            46
there            43
on               42
aircraft         41
problem          38
asked            38
told             36
help             36
hours            35
when             35
given            35
ground           34
not              33
day              33
offered          32
left             31
way              30
friendly         29
               ...
july              1
areas             1
eta               1
impending         1
skies             1
guiding           1
baggages          1
kk                1
policies          1
repeatedly        1
reported          1
prompt            1
litter            1
higher            1
transparency      1
regular           1
eat               1
darkness          1
band              1
records           1
effective         1
bumpiest          1
suffice           1
bkk               1
lacked            1
headaches         1
delivery          1
faster            1
screwed           1
sadly             1
Name: words, Length: 2943, dtype: int64

In [50]:
get_word_count(4, df_neg)

seats          189
seat           136
pay            124
extra           75
ticket          74
money           73
paid            69
don             66
like            64
sit             55
people          53
booked          47
if              47
tickets         44
didn            41
you             39
cost            37
way             35
so              34
seating         32
free            31
fly             31
charge          30
price           29
booking         28
know            28
use             27
want            27
small           26
no              25
              ...
question         1
grace            1
determined       1
singles          1
handicapped      1
sufficient       1
hearing          1
menus            1
pack             1
straight         1
confusion        1
addressed        1
pathetic         1
october          1
southwests       1
dumped           1
am               1
grief            1
obnoxious        1
explains         1
evening          1
soon             1
transaction      1
particular       1
midway           1
stick            1
never            1
complained       1
fried            1
mark             1
Name: words, Length: 2170, dtype: int64

In [51]:
get_word_count(5, df_neg)

luggage          150
bag               93
hand              51
bags              43
baggage           37
cabin             26
hold              25
extra             23
pay               23
small             20
people            18
carry             17
size              15
checked           14
free              13
paid              13
kg                12
allowed           12
way               11
on                10
staff             10
got               10
charged           10
seat              10
overhead          10
board             10
charge            10
fit                9
told               9
she                9
                ...
fault              1
hang               1
take               1
appeared           1
mumbai             1
conveyer           1
by                 1
diaper             1
fortunately        1
smooth             1
loaded             1
classic            1
fuselage           1
been               1
tone               1
baggages           1
tucked             1
combine            1
course             1
released           1
arrogance          1
encourage          1
oversize           1
international      1
effect             1
colleague          1
simply             1
ticketing          1
shown              1
alicante           1
Name: words, Length: 877, dtype: int64

In [52]:
get_word_count(6, df_neg)

hours             228
delayed           213
hour              173
delay             119
minutes           113
late              108
departure          57
pm                 53
arrived            40
later              32
waiting            30
left               29
after              28
on                 27
got                27
took               25
scheduled          25
am                 24
told               24
half               24
cancelled          22
finally            22
wait               21
gate               20
arrival            19
gatwick            18
going              17
boarding           16
leave              16
connecting         16
                 ...
parents             1
aalborg             1
rd                  1
oh                  1
over                1
furthest            1
stayed              1
law                 1
seats               1
fair                1
doors               1
fingers             1
reasonable          1
would               1
excuses             1
reciept             1
slightly            1
forgot              1
drive               1
transportation      1
aberdeen            1
buses               1
suddenly            1
experienced         1
receipt             1
planes              1
diego               1
apparent            1
crammed             1
harassed            1
Name: words, Length: 1215, dtype: int64

In [53]:
get_word_count(7, df_neg)

service         206
customer        165
worst            29
experience       23
poor             19
this             10
terrible         10
bad              10
staff             9
awful             9
horrible          9
their             7
rude              7
flying            7
no                7
quality           7
very              7
fly               6
help              6
prices            6
experienced       6
hours             5
company           5
existent          5
average           5
lack              5
ve                5
great             5
said              5
non               5
               ...
compensation      1
past              1
handed            1
extension         1
reduces           1
faster            1
prompt            1
why               1
hdy               1
immediately       1
rest              1
nowadays          1
uncaring          1
upsetting         1
control           1
puerto            1
both              1
followed          1
im                1
avoiding          1
come              1
since             1
trust             1
flexibility       1
frills            1
world             1
stressed          1
basic             1
hope              1
customers         1
Name: words, Length: 635, dtype: int64

In [54]:
get_word_count(8, df_neg)

boarding          170
told              121
gate              101
when               60
board              58
asked              49
got                45
minutes            44
wait               42
passengers         40
queue              39
staff              38
arrived            37
line               37
check              36
waiting            35
said               33
went               31
baggage            29
people             29
hours              29
after              26
in                 26
hour               26
late               24
mins               22
finally            20
passes             19
called             18
took               18
                 ...
unacceptable        1
minimal             1
working             1
feel                1
advance             1
ine                 1
cutting             1
refuelled           1
whittled            1
tapped              1
carries             1
fortunately         1
apparently          1
tv                  1
cockpit             1
hardly              1
arguing             1
ibiza               1
entertainement      1
enough              1
uninterested        1
discussed           1
chance              1
nature              1
copy                1
lone                1
unhappy             1
refuelling          1
thought             1
skyline             1
Name: words, Length: 1296, dtype: int64

In [55]:
get_word_count(9, df_neg)

check             239
in                113
boarding           77
online             58
pay                31
bag                29
pass               23
checked            23
print              19
charged            18
baggage            18
passes             18
priority           17
staff              16
desk               13
told               13
went               13
bags               12
seats              12
extra              12
euros              12
charge             11
counter            11
paid               10
when               10
website            10
seat                9
hours               9
couldn              9
early               9
                 ...
tax                 1
kit                 1
slightly            1
removed             1
bring               1
usd                 1
requires            1
chatting            1
representative      1
great               1
compare             1
boyfriend           1
lanzarote           1
garage              1
vacant              1
victimes            1
silly               1
files               1
look                1
suitcase            1
asia                1
untrue              1
especially          1
notes               1
secondly            1
earlybird           1
dice                1
competition         1
hour                1
customers           1
Name: words, Length: 877, dtype: int64

In [56]:
get_word_count(1, df_pos)

seats           253
seat            173
comfortable      95
leg              85
legroom          76
room             76
extra            61
row              47
boarding         31
space            31
short            30
good             24
booked           23
pitch            23
recline          22
new              22
exit             21
pay              21
pre              21
ok               20
seating          19
paid             19
allocated        19
better           18
got              16
little           16
tight            15
plenty           15
hot              14
priority         14
               ...
horizontally      1
change            1
proper            1
nd                1
fold              1
information       1
joke              1
perfectly         1
constraint        1
verdict           1
nailed            1
standing          1
minimum           1
knee              1
lgw               1
asian             1
payment           1
reclaim           1
dreaded           1
sell              1
downside          1
noting            1
warnings          1
earlybird         1
hadn              1
work              1
asia              1
series            1
removal           1
trouble           1
Name: words, Length: 946, dtype: int64

In [57]:
get_word_count(2, df_pos)

crew            232
cabin           185
friendly        175
staff            64
helpful          59
efficient        58
professional     55
clean            48
aircraft         29
polite           25
pleasant         18
ground           14
good             14
welcoming        13
attentive        13
courteous        13
smiling          11
cheerful          9
service           9
board             9
extremely         8
excellent         8
both              8
comfortable       7
new               6
all               6
on                6
modern            5
attendants        5
young             5
               ...
busying           1
enjoyed           1
even              1
however           1
hurry             1
experience        1
imagine           1
vibrant           1
exceptional       1
generous          1
manned            1
jla               1
actually          1
fitted            1
working           1
only              1
legs              1
coffee            1
class             1
commend           1
dub               1
sector            1
operative         1
faultless         1
stops             1
some              1
toilets           1
organized         1
co                1
possible          1
Name: words, Length: 377, dtype: int64

In [58]:
get_word_count(3, df_pos)

boarding        271
check           255
in              155
luggage         111
checked          76
bags             73
baggage          73
bag              67
online           61
hand             56
priority         51
gate             47
queue            43
free             39
quick            36
drop             36
pass             32
process          31
easy             31
passes           29
got              28
went             25
security         25
smooth           24
line             24
paid             24
booking          23
hold             22
fast             22
seat             22
               ...
assignment        1
examine           1
kilo              1
painfully         1
dedicated         1
ie                1
loaded            1
build             1
meets             1
conventional      1
exceeded          1
born              1
painless          1
shop              1
realized          1
locked            1
hang              1
waited            1
overtaken         1
hands             1
monday            1
weather           1
enjoyed           1
reduction         1
upper             1
by                1
turned            1
insisted          1
aboard            1
icn               1
Name: words, Length: 1478, dtype: int64

In [59]:
get_word_count(4, df_pos)

crew             309
cabin            186
staff            170
friendly         139
clean             87
helpful           69
service           65
good              64
aircraft          53
nice              48
efficient         43
ground            41
comfortable       37
professional      35
pleasant          35
seats             34
passengers        32
new               31
polite            31
great             28
excellent         27
boarding          24
check             18
food              18
courteous         17
attendants        17
onboard           16
board             15
attentive         14
planes            14
                ...
language           1
additional         1
irresponsible      1
noisier            1
classroom          1
worries            1
manages            1
learned            1
indifferent        1
pushing            1
albeit             1
calmly             1
crying             1
inviting           1
asia               1
failed             1
manic              1
mdw                1
issue              1
low                1
biggest            1
hilarious          1
mess               1
fact               1
obvious            1
sure               1
forward            1
conscious          1
presence           1
croissant          1
Name: words, Length: 1150, dtype: int64

In [60]:
get_word_count(5, df_pos)

service         198
good            163
staff           135
aircraft         86
new              64
food             64
crew             63
clean            59
nice             57
excellent        56
cabin            55
seats            54
pleasant         53
customer         52
comfortable      48
great            47
efficient        47
board            42
experience       42
on               39
ground           37
boarding         33
check            32
attendants       29
passengers       28
return           24
way              22
smooth           20
overall          20
all              18
               ...
general           1
forget            1
tight             1
medicine          1
laid              1
embarrassing      1
cinco             1
advice            1
denpasar          1
oily              1
friendliness      1
highly            1
airborne          1
pleasing          1
wise              1
accommodate       1
betting           1
birmingham        1
likewise          1
finally           1
tended            1
returning         1
tidy              1
liking            1
inconvenient      1
recomend          1
easter            1
yellow            1
city              1
mean              1
Name: words, Length: 1721, dtype: int64

In [61]:
get_word_count(6, df_pos)

minutes         96
early           86
arrived         71
delayed         66
late            61
mins            51
departure       48
boarding        37
landed          37
left            34
return          34
hour            33
departed        26
schedule        25
gate            25
check           24
arrival         24
delay           24
took            23
on              21
hours           21
got             20
scheduled       18
ahead           18
little          17
quickly         16
luggage         16
aircraft        15
passengers      15
later           15
                ..
confined         1
backlog          1
diego            1
away             1
chania           1
routine          1
safe             1
rochelle         1
fan              1
standing         1
circled          1
hub              1
returned         1
afternoon        1
marks            1
located          1
obviously        1
reimbursed       1
important        1
look             1
limited          1
babies           1
arrangements     1
replace          1
fantastic        1
confusion        1
denver           1
contrary         1
son              1
cattle           1
Name: words, Length: 915, dtype: int64

In [62]:
get_word_count(7, df_pos)

minutes       146
arrived       132
early         106
late           88
departed       46
schedule       41
left           39
landed         37
mins           34
ahead          26
return         24
delayed        21
arrival        20
took           13
scheduled      13
both           13
delay          11
boarding       10
departure      10
slightly       10
hour            9
earlier         8
aircraft        8
min             8
on              7
actually        5
gatwick         5
smooth          5
leaving         5
boarded         5
             ...
girona          1
updates         1
sjc             1
vehicle         1
departures      1
soemarmo        1
drink           1
ace             1
good            1
apron           1
ltn             1
off             1
clearing        1
year            1
klia            1
however         1
missed          1
travelled       1
belgaum         1
england         1
played          1
ncl             1
even            1
en              1
started         1
descent         1
ran             1
supply          1
adi             1
negligible      1
Name: words, Length: 363, dtype: int64

In [63]:
get_word_count(8, df_pos)

fly            143
flying         121
food           103
this            95
trip            91
don             83
experience      82
air             82
service         81
use             80
good            78
like            78
times           77
people          70
years           69
way             69
price           67
board           66
flown           65
asia            62
short           62
travel          61
free            60
year            60
passengers      58
didn            56
seat            56
better          51
great           51
budget          50
              ...
pushed           1
covered          1
blanket          1
tsf              1
speediboard      1
aback            1
areas            1
does             1
samsung          1
sounds           1
dear             1
starts           1
staff            1
seconds          1
chigao           1
damaged          1
literate         1
negatively       1
reassuring       1
derry            1
netherlands      1
pnq              1
chocolate        1
secure           1
gse              1
ankle            1
whenever         1
deserve          1
except           1
litre            1
Name: words, Length: 3681, dtype: int64

In [64]:
get_word_count(9, df_pos)

flew           248
return         185
th             137
london          77
stansted        73
gatwick         68
kul             53
kuala           50
lumpur          50
delay           46
manchester      46
my              43
dublin          39
hour            37
delayed         35
took            34
fr              34
hours           31
trip            31
departure       30
got             27
las             27
vegas           27
recently        26
travelled       26
day             26
bangkok         26
on              25
gate            25
may             25
              ...
loos             1
beating          1
accordingly      1
controllers      1
routed           1
easter           1
otopeni          1
thai             1
inaugural        1
surakarta        1
lanzerote        1
needed           1
mainland         1
peering          1
simply           1
counter          1
caught           1
vow              1
kg               1
airportback      1
planned          1
southern         1
persons          1
us               1
torrential       1
hartford         1
cons             1
bdq              1
options          1
ahmedabad        1
Name: words, Length: 1778, dtype: int64

In [65]:
df_neg[df_neg["cluster"] == 2]

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec,cluster
1,0,http://www.airlinequality.com/airline-reviews/...,1,"""disorganized and inefficient""",NaN,A Adam,United States,26th May 2018,Trip Verified,indigo-airlines,Most disorganized and inefficient airline I h...,Solo Leisure,Economy Class,May 2018,no,"[most, disorganized, inefficient, travelled]","[-0.11544057168066502, 0.023257623543031514, 0...",2
35,8,http://www.airlinequality.com/airline-reviews/...,2,"""Lack of flexibility""",NaN,S Richardson,United States,27th April 2018,Trip Verified,indigo-airlines,They have all sorts of arbitrary rules that d...,Business,Economy Class,April 2018,no,"[sorts, arbitrary, rules, don, affect, ability...","[-0.24513999538289177, 0.053026097257518105, 0...",2
45,9,http://www.airlinequality.com/airline-reviews/...,2,"""delayed by more than 5 hours""",NaN,S Rajur,India,16th April 2018,Trip Verified,indigo-airlines,This time they directly rescheduled my travel,Family Leisure,Economy Class,April 2018,no,"[this, directly, rescheduled, travel]","[-0.40858193673193455, 0.08548643253743649, 0....",2
98,24,http://www.airlinequality.com/airline-reviews/...,5,"""respects passengers valuable time""",NaN,Praveen Sharma,India,26th December 2017,Trip Verified,indigo-airlines,It would be a customer delight if airline res...,Family Leisure,Economy Class,December 2017,no,"[customer, delight, respects, passengers, valu...","[-0.401723064349166, 0.08358531724661589, 0.30...",2
112,27,http://www.airlinequality.com/airline-reviews/...,1,"""final flight I will book with IndiGo""",NaN,Bergen Stephen,India,28th November 2017,Trip Verified,indigo-airlines,Had one of the worst experiences with IndiGo ...,Solo Leisure,Economy Class,November 2017,no,"[had, worst, experiences, critical, moment]","[-0.184576484747231, 0.03801640982273966, 0.14...",2
148,35,http://www.airlinequality.com/airline-reviews/...,6,"""Seats narrow with not much legroom""",NaN,P Henderson,Oman,2nd September 2017,Verified Review,indigo-airlines,Service on board consisted of one cup of water,Family Leisure,Economy Class,April 2017,no,"[service, board, consisted, cup, water]","[-0.45527905896306037, 0.09740955298766493, 0....",2
151,35,http://www.airlinequality.com/airline-reviews/...,6,"""Seats narrow with not much legroom""",NaN,P Henderson,Oman,2nd September 2017,Verified Review,indigo-airlines,We had flown the same route with Jet Airways ...,Family Leisure,Economy Class,April 2017,no,"[flown, route, jet, airways, before, provided,...","[-0.3342571724206209, 0.07091875770129263, 0.2...",2
170,40,http://www.airlinequality.com/airline-reviews/...,3,"""No through check-in""",1 reviews,S Hashavi,India,2nd August 2017,Verified Review,indigo-airlines,New Delhi to Muscat via Mumbai was an horrifi...,Family Leisure,Economy Class,October 2016,no,"[new, delhi, muscat, mumbai, horrific, experie...","[-0.32621902607691783, 0.07047891810846825, 0....",2
173,40,http://www.airlinequality.com/airline-reviews/...,3,"""No through check-in""",1 reviews,S Hashavi,India,2nd August 2017,Verified Review,indigo-airlines,"The ticket was under single PNR, I confirmed ...",Family Leisure,Economy Class,October 2016,no,"[ticket, single, pnr, confirmed, customer, car...","[-0.44223058834258056, 0.0913410680109842, 0.3...",2
183,40,http://www.airlinequality.com/airline-reviews/...,3,"""No through check-in""",1 reviews,S Hashavi,India,2nd August 2017,Verified Review,indigo-airlines,This is the first time I have seen that inter...,Family Leisure,Economy Class,October 2016,no,"[this, seen, international, booked, pnr, website]","[-0.42461802981172997, 0.08843376685399562, 0....",2
185,40,http://www.airlinequality.com/airline-reviews/...,3,"""No through check-in""",1 reviews,S Hashavi,India,2nd August 2017,Verified Review,indigo-airlines,"Basic flight, No service, No entertainment, e...",Family Leisure,Economy Class,October 2016,no,"[basic, no, service, no, entertainment, expens...","[-0.48858908883162905, 0.10429183739636626, 0....",2
192,42,http://www.airlinequality.com/airline-reviews/...,1,"""delayed by 2.30 hours""",NaN,Nikhil Shah,India,20th July 2017,Verified Review,indigo-airlines,This was my second worst experience within a ...,Business,Economy Class,July 2017,no,"[this, second, worst, experience, fortnight, p...","[-0.39364682758847874, 0.0839318305758449, 0.2...",2
196,45,http://www.airlinequality.com/airline-reviews/...,5,"""the flight crew were good""",NaN,H Reddy,India,1st June 2017,Verified Review,indigo-airlines,"Travel was good, the flight crew were good too",Family Leisure,Economy Class,May 2017,no,"[travel, good, crew, good]","[-0.7143725156784058, 0.1503753811120987, 0.54...",2
208,46,http://www.airlinequality.com/airline-reviews/...,4,"""comfort might be a difficulty""",NaN,V Andrews,India,21st May 2017,Verified Review,indigo-airlines,This issue was not observed in my previous fl...,Solo Leisure,Economy Class,May 2017,no,"[this, issue, observed, previous]","[-0.37767477985471487, 0.08026565914042294, 0....",2
217,46,http://www.airlinequality.com/airline-reviews/...,4,"""comfort might be a difficulty""",NaN,V Andrews,India,21st May 2017,Verified Review,indigo-airlines,The positive was the crews friendly attitude ...,Solo Leisure,Economy Class,May 2017,no,"[positive, crews, friendly, attitude, efficiency]","[-0.18461797907948493, 0.0401743957772851, 0.1...",2
237,50,http://www.airlinequality.com/airline-reviews/...,2,"""not value for money""",NaN,P Kamoorta,Australia,30th January 2017,Verified Review,indigo-airlines,I have been traveling with IndiGo for 7 years...,Solo Leisure,Economy Class,January 2017,no,"[traveling, years, getting, worse, value, money]","[-0.4379623879988988, 0.09152380873759587, 0.3...",2
251,55,http://www.airlinequality.com/airline-reviews/...,1,"""only as a last option""",NaN,Natesh Selvaraj,India,20th December 2016,Verified Review,indigo-airlines,I have been having consistent horrible experi...,Business,Economy Class,December 2016,no,"[having, consistent, horrible, experiences, de...","[-0.3221293494105339, 0.06786092184484005, 0.2...",2
282,71,http://www.airlinequality.com/airline-reviews/...,1,"""worst experience so far""",NaN,E Malhotra,India,11th May 2016,Verified Review,indigo-airlines,I've travelled on pretty much every domestic ...,Business,Economy Class,May 2016,no,"[ve, travelled, pretty, domestic, operates, in...","[-0.23104403944065174, 0.04875303766069313, 0....",2
283,71,http://www.airlinequality.com/airline-reviews/...,1,"""worst experience so far""",NaN,E Malhotra,India,11th May 2016,Verified Review,indigo-airlines,This is my worst experience so far,Business,Economy Class,May 2016,no,"[this, worst, experience, far]","[-0.5480351820588112, 0.1174920815974474, 0.41...",2
293,78,http://www.airlinequality.com/airline-reviews/...,2,"""yet another bad experience""",NaN,Gunjan Singh,India,26th January 2016,NaN,indigo-airlines,Yet another bad experience with Indigo from Ud...,Couple Leisure,Economy Class,January 2016,no,"[yet, bad, experience, udaipur, mumbai]","[-0.3240029014647007, 0.07006294466555119, 0.2...",2
329,104,http://www.airlinequality.com/airline-reviews/...,3,IndiGo customer review,NaN,Roma Solomon,India,29th May 2015,NaN,indigo-airlines,I will not travel on Indigo again unless they...,NaN,Economy Class,NaN,no,"[travel, provide, step, buses, herd, like, cat...","[-0.3424461217863219, 0.07251229882240295, 0.2...",2
332,105,http://www.airlinequality.com/airline-reviews/...,5,IndiGo customer review,NaN,P Gould,India,27th April 2015,NaN,indigo-airlines,The airline is like the low budget carriers i...,NaN,Economy Class,NaN,no,"[like, low, budget, carriers, europe, people, ...","[-0.4475051305360264, 0.09213084411910838, 0.3...",2
347,110,http://www.airlinequality.com/airline-reviews/...,2,IndiGo customer review,NaN,Manoj Chaumal,India,24th February 2015,NaN,indigo-airlines,This was horrible experience had to shell out...,NaN,Economy Class,NaN,no,"[this, horrible, experience, shell, additional...","[-0.3093357302714139, 0.06595201673917472, 0.2...",2
401,137,http://www.airlinequality.com/airline-reviews/...,3,IndiGo customer review,NaN,Patel Beena,India,2nd January 2014,NaN,indigo-airlines,I've never had a reason to complain until my ...,NaN,Economy Class,NaN,no,"[ve, reason, complain, experience]","[-0.441417932510376, 0.09595638886094093, 0.33...",2
406,137,http://www.airlinequality.com/airline-reviews/...,3,IndiGo customer review,NaN,Patel Beena,India,2nd January 2014,NaN,indigo-airlines,This is the first time I've been on the recei...,NaN,Economy Class,NaN,no,"[this, ve, receiving, end, aloof, treatment, s...","[-0.41775159617619856, 0.08807223523035645, 0....",2
429,177,http://www.airlinequality.com/airline-reviews/...,5,IndiGo customer review,NaN,Madhu Sudan Sharma,India,30th May 2012,NaN,indigo-airlines,A cup of premixed tea cost 100 THB (INR 170,NaN,Economy Class,NaN,no,"[cup, premixed, tea, cost, thb, inr]","[-0.18990689547111592, 0.0392217430829381, 0.1...",2
441,179,http://www.airlinequality.com/airline-reviews/...,2,IndiGo customer review,NaN,Savi Mull,India,4th April 2012,NaN,indigo-airlines,Very pricey for a 'low cost airline',NaN,Economy Class,NaN,no,"[very, pricey, low, cost]","[-0.4018167811445892, 0.07966751232743263, 0.3...",2
452,205,http://www.airlinequality.com/airline-reviews/...,1,"""disappointed with the service""",NaN,Ramesh Khandelwal,India,10th June 2018,Trip Verified,spicejet,"Too bad experience, as my schedule is ruined",Couple Leisure,Economy Class,June 2018,no,"[too, bad, experience, schedule, ruined]","[-0.34345805644989014, 0.07371857464313507, 0....",2
473,207,http://www.airlinequality.com/airline-reviews/...,1,"""worst airline ever flown""",NaN,Robert Allen,Thailand,30th May 2018,Not Verified,spicejet,Without doubt the worst airline I have ever f...,Solo Leisure,Economy Class,May 2018,no,"[without, doubt, worst, flown]","[-0.26206657104194164, 0.05575484363362193, 0....",2
488,212,http://www.airlinequality.com/airline-reviews/...,1,"""aggressive and disrespecting""",NaN,P Jarnal,India,20th May 2018,Trip Verified,spicejet,They have worst cabin crew I've ever seen,Solo Leisure,Economy Class,October 2017,no,"[worst, cabin, crew, ve, seen]","[-0.5682830154895783, 0.12005061656236649, 0.4...",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13525,3335,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,W Tangjitjaroen,Thailand,19th February 2014,NaN,airasia,Have flown with AA a few times this time RT fr...,NaN,Economy Class,NaN,no,"[have, flown, aa, times, rt, cnx, pen]","[-0.20720236748456955, 0.043673223217150996, 0...",2
13547,3338,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,M Lokan,Australia,10th February 2014,NaN,airasia,Cant comment on food or how the service was b...,NaN,NaN,NaN,no,"[cant, comment, food, service, far, concerned,...","[-0.45941165521637434, 0.09804192766306288, 0....",2
13558,3340,http://www.airlinequality.com/airline-reviews/...,5,AirAsia customer review,NaN,Sudiman Erwan,Singapore,15th January 2014,NaN,airasia,Nice airline to take for short distances due ...,NaN,Economy Class,NaN,no,"[nice, short, distances, economy, value]","[-0.2421841248869896, 0.050435221567749974, 0....",2
13566,3341,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,K David,Malaysia,14th January 2014,NaN,airasia,Air Asia maybe a budget airline but this does...,NaN,Economy Class,NaN,no,"[air, asia, maybe, budget, right, want]","[-0.4877519980072975, 0.10233075357973576, 0.3...",2
13575,3348,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Roshan Gunathilake,Australia,23rd December 2013,NaN,airasia,Pre-ordered meals were of very poor quality,NaN,Economy Class,NaN,no,"[pre, ordered, meals, poor, quality]","[-0.3059059828519821, 0.06374458968639374, 0.2...",2
13585,3348,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Roshan Gunathilake,Australia,23rd December 2013,NaN,airasia,I think what they sell as business class is p...,NaN,Economy Class,NaN,no,"[think, sell, business, class, probably, comfo...","[-0.2835198944667354, 0.059342719381675124, 0....",2
13605,3350,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Victor Loukham,India,6th December 2013,NaN,airasia,Air Asia in Bangkok lands at Don Muang Airpor...,NaN,Economy Class,NaN,no,"[air, asia, bangkok, lands, don, muang, suvarn...","[-0.3487540845360075, 0.07331784734768527, 0.2...",2
13607,3350,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Victor Loukham,India,6th December 2013,NaN,airasia,Everyone goes on a holiday to have a good time,NaN,Economy Class,NaN,no,"[everyone, goes, holiday, good]","[-0.37361617758870125, 0.07895646337419748, 0....",2
13618,3359,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Rohit Thukral,United States,25th October 2013,NaN,airasia,I travel extensively across US Europe and Asi...,NaN,Premium Economy,NaN,no,"[travel, extensively, us, europe, asia, good, ...","[-0.31453468883410096, 0.06577492208452895, 0....",2
13631,3359,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Rohit Thukral,United States,25th October 2013,NaN,airasia,I have taken my last flight on AirAsia - it i...,NaN,Premium Economy,NaN,no,"[taken, truly, worst, flown]","[-0.33401334658265114, 0.07090202393010259, 0....",2
13668,3378,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Nuti Damrongphatr,Thailand,15th July 2013,NaN,airasia,Other than that things are pretty horrible an...,NaN,Economy Class,NaN,no,"[other, things, pretty, horrible, chaotic]","[-0.277470201253891, 0.058257066458463666, 0.2...",2
13681,3380,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Bini Mary Easow,India,21st June 2013,NaN,airasia,The only good thing was the rate but given th...,NaN,Economy Class,NaN,no,"[good, thing, rate, given, condition, cheap, r...","[-0.28636160575681263, 0.05994627314309279, 0....",2
13683,3385,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,M Marshall,Indonesia,20th May 2013,NaN,airasia,My experience has been very negative flying wi...,NaN,Economy Class,NaN,no,"[my, experience, negative, flying]","[-0.5345341209322214, 0.11329704965464771, 0.4...",2
13699,3386,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,Sarah Grech,Australia,19th May 2013,NaN,airasia,Whilst some of the service was good and they ...,NaN,Economy Class,NaN,no,"[whilst, service, good, generally, courteous, ...","[-0.38769739899518235, 0.08279976694445525, 0....",2
13709,3390,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,John Clegg,United Kingdom,1st May 2013,NaN,airasia,Cheap and great for hopping around South East...,NaN,Economy Class,NaN,no,"[cheap, great, hopping, south, east, asia, tru...","[-0.21378695033490658, 0.04484783565729029, 0....",2
13728,3396,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,W Steward,South Korea,1st April 2013,NaN,airasia,Having to wait at LCCT is an awful experience,NaN,Economy Class,NaN,no,"[having, wait, lcct, awful, experience]","[-0.45309764295816424, 0.09646518900990486, 0....",2
13790,3442,http://www.airlinequality.com/airline-reviews/...,5,AirAsia customer review,NaN,Marcus Boehm,Australia,19th August 2012,NaN,airasia,A smile from half way across the cabin isn't ...,NaN,Economy Class,NaN,no,"[smile, half, way, cabin, isn, service, nice]","[-0.4710306056908199, 0.10014204840574946, 0.3...",2
13811,3445,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,T Nelson,NaN,6th August 2012,NaN,airasia,Yes it's more money but the delays are out of...,NaN,Economy Class,NaN,no,"[yes, money, delays, control, air, asia]","[-0.5348630497852961, 0.11063951191802819, 0.4...",2
13847,3451,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Eko Prakoso,Indonesia,4th July 2012,NaN,airasia,Don't use this airline you'll be very disappo...,NaN,Economy Class,NaN,no,"[don, use, you, ll, disappointed, service, crew]","[-0.5927583064351764, 0.12575728925211088, 0.4...",2
13859,3452,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,B Lamprell,Vietnam,2nd July 2012,NaN,airasia,The flight itself was fine but the entire Air...,NaN,Economy Class,NaN,no,"[fine, entire, air, asia, experience, leaves, ...","[-0.4072352512739599, 0.08562531467759982, 0.3...",2
13897,3468,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Oscar Collazos,Australia,30th April 2012,NaN,airasia,Awful experience staff were rude no attention...,NaN,Economy Class,NaN,no,"[awful, experience, staff, rude, attention, at...","[-0.4632299840450287, 0.09977563523820468, 0.3...",2
13899,3468,http://www.airlinequality.com/airline-reviews/...,1,AirAsia customer review,NaN,Oscar Collazos,Australia,30th April 2012,NaN,airasia,Have been much more satisfied when flying on ...,NaN,Economy Class,NaN,no,"[have, satisfied, flying, low, cost, carriers]","[-0.3886349340900779, 0.07906626304611564, 0.2...",2
13918,3477,http://www.airlinequality.com/airline-reviews/...,3,AirAsia customer review,NaN,Hvide Sande,Germany,2nd April 2012,NaN,airasia,Have been much more satisfied when flying on ...,NaN,Economy Class,NaN,no,"[have, satisfied, flying, low, cost, carriers]","[-0.3886349340900779, 0.07906626304611564, 0.2...",2
13920,3482,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,Edsel Johnson,Thailand,27th March 2012,NaN,airasia,Have been flying Air Asia for 5 years and now ...,NaN,Economy Class,NaN,no,"[have, flying, air, asia, years]","[-0.536906898021698, 0.11254247054457664, 0.40...",2
13931,3493,http://www.airlinequality.com/airline-reviews/...,2,AirAsia customer review,NaN,D Lomas,United Kingdom,9th February 2012,NaN,airasia,Will never travel Air Asia again alone,NaN,Economy Class,NaN,no,"[will, travel, air, asia]","[-0.5491641387343407, 0.11426826007664204, 0.4...",2
13947,3500,http://www.airlinequality.com/airline-reviews/...,4,AirAsia customer review,NaN,A Hait,Malaysia,13th January 2012,NaN,airasia,Fully satisfied in the past however my last tw...,NaN,Economy Class,NaN,no,"[fully, satisfied, past, trips, awful]","[-0.18472536094486713, 0.038960493914783, 0.14...",2
13960,3501,http://www.airlinequality.com/airline-reviews/...,6,AirAsia customer review,NaN,Warren Funnell,Thailand,11th January 2012,NaN,airasia,Not providing the facility at CNX whilst prom...,NaN,Economy Class,NaN,no,"[not, providing, facility, cnx, whilst, promot...","[-0.2153282854706049, 0.04390073580563896, 0.1...",2
13961,3501,http://www.airlinequality.com/airline-reviews/...,6,AirAsia customer review,NaN,Warren Funnell,Thailand,11th January 2012,NaN,airasia,Besides this aspect of their service this fli...,NaN,Economy Class,NaN,no,"[besides, aspect, service, previous, air, asia...","[-0.3736245072213933, 0.0804284117766656, 0.28...",2
13962,3501,http://www.airlinequality.com/airline-reviews/...,6,AirAsia customer review,NaN,Warren Funnell,Thailand,11th January 2012,NaN,airasia,Don't be taken in with the price sometimes it...,NaN,Economy Class,NaN,no,"[don, taken, price, cheaper, fly, tg]","[-0.43009717301659595, 0.09042331830520804, 0....",2
13967,3504,http://www.airlinequality.com/airline-reviews/...,5,AirAsia customer review,NaN,M Lin,Malaysia,30th December 2011,NaN,airasia,Thank goodness the price is reasonable or els...,NaN,Economy Class,NaN,no,"[thank, goodness, price, reasonable, lodge, co...","[-0.24025318631902337, 0.04941708218636146, 0....",2

In [66]:
df_neg[df_neg["cluster"] == 0]

,Unnamed: 0,url,Rating,Review_Title,User_Nb_Reviews,User_Name,User_Country,Review_Date,Trip_Verified,Airline_Name,Review_Text_Clean,Type_Of_Traveller,Cabin_Flown,Date Flown,Recommended,tokennized_review_sen,avg_sen_vec,cluster
5373,1403,http://www.airlinequality.com/airline-reviews/...,3,Ryanair customer review,NaN,Lise Omdal,Norway,13th November 2013,NaN,ryanair,Constant nagging on the PA about sales sales ...,NaN,Economy Class,NaN,no,"[constant, nagging, pa, sales, sales, sales]","[-0.132539801299572, 0.028841017629019916, 0.1...",0